@charset "UTF-8";

#ad {
	width: 298px;
	height:	598px;
	border: 1px solid #111111;
	background: url(bg.jpg);
	background-size: contain;
	overflow: hidden;
	position: relative;
}

#clicktag {
	width: 300px;
	height:	600px;
	opacity: 0.3;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	cursor: pointer;
}

#main_content {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	color: #a9aaac;
}

#brand {
	position: absolute;
	top: 12px;
	right: 12px;
}

.text {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
}

#text1-1 {
	top: 104px;
}

#text1-2 {
	top: 126px;
}

#text2-1, #text3-1 {
	top: 104px;
	left: -500px;
}

#text2-2, #text3-2 {
	top: 126px;
	left: -500px;
}

#text2-3, #text3-3 {
	top: 148px;
	left: -500px;
}

#legal {
	bottom: 7px;
}

#devices {
	background: url(devices.png);
	width: 259px;
	height: 215px;
	position: absolute;
	top: 240px;
	left: 19px;
}

#ff-title {
	display: block;
	top: 131px;
	opacity: 0;
}

#cta {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 79px;
	z-index: 3;
	cursor: pointer;
	opacity: 0;
}

#cta:hover #arrow {
	right: 8px;
}

#arrow {
	display: block;
	position: absolute;
	top: 9px;
	right: 12px;

	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

#offer {
	position: absolute;
	top: 211px;
	left: 0;
	right: 0;
	margin: 0 auto;
	opacity: 0;
}

#phone {
	position: absolute;
	bottom: 148px;
	left: 0;
	right: 0;
	margin: 0 auto;
	opacity: 0;
	display: block;
}

#hands {
    position: absolute;
    bottom: -260px;
    left: 79px;
}

#hand-1 {
	width: 80px;
	height: 133px;
	position: absolute;
	background: url(hand1.png);
	left: 58px;
    top: 16px;
    z-index: 3;
    opacity: 0;
}

#hand-2 {
	width: 99px;
	height: 151px;
	position: absolute;
	background: url(hand2.png);	
	left: 47px;
    z-index: 3;
    opacity: 0;
}

#hand-3 {
	width: 112px;
	height: 166px;
	position: absolute;
	background: url(hand3.png);
    left: -6px;
    z-index: 1;
    top: -16px;
    opacity: 0;
}

#hand-4 {
	width: 51px;
	height: 140px;
	position: absolute;
	background: url(hand4.png);	
    left: 31px;
    z-index: 4;
    top: 17px;
    opacity: 0;
}

.images-sprite, .images-arrow, .images-badge, .images-button, .images-ff-title, .images-legal, .images-logo, .images-phonenumber, .images-text1-1, .images-text1-2, .images-text2-1, .images-text2-2, .images-text2-3, .images-text3-1, .images-text3-2, .images-text3-3 {
  background-image: url('sprite.png');
  background-repeat: no-repeat;
}

.images-arrow {
  background-position: 0 0;
  height: 10px;
  width: 7px;
}

.images-badge {
  background-position: 0 -10px;
  height: 216px;
  width: 132px;
}

.images-button {
  background-position: 0 -226px;
  height: 28px;
  width: 122px;
}

.images-ff-title {
  background-position: 0 -254px;
  height: 18px;
  width: 219px;
}

.images-legal {
  background-position: 0 -272px;
  height: 16px;
  width: 204px;
}

.images-logo {
  background-position: 0 -288px;
  height: 27px;
  width: 82px;
}

.images-phonenumber {
  background-position: 0 -315px;
  height: 12px;
  width: 112px;
}

.images-text1-1 {
  background-position: 0 -327px;
  height: 14px;
  width: 97px;
}

.images-text1-2 {
  background-position: 0 -341px;
  height: 18px;
  width: 153px;
}

.images-text2-1 {
  background-position: 0 -359px;
  height: 14px;
  width: 97px;
}

.images-text2-2 {
  background-position: 0 -373px;
  height: 17px;
  width: 107px;
}

.images-text2-3 {
  background-position: 0 -390px;
  height: 18px;
  width: 142px;
}

.images-text3-1 {
  background-position: 0 -408px;
  height: 14px;
  width: 163px;
}

.images-text3-2 {
  background-position: 0 -422px;
  height: 18px;
  width: 193px;
}

.images-text3-3 {
  background-position: 0 -440px;
  height: 14px;
  width: 124px;
}