html, body, div, span, applet, object, iframe,  h1, h2, h3, h4, h5, h6, p, blockquote, pre,  a, abbr, acronym, address, big, cite, code,  del, dfn, em, img, ins, kbd, q, s, samp,  small, strike, strong, sub, sup, tt, var,  b, u, i, center,  dl, dt, dd, ol, ul, li,  fieldset, form, label, legend,  table, caption, tbody, tfoot, thead, tr, th, td,  article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary,  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,  footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,  q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    background: transparent;
    height: 100%;
}
@font-face {
    font-family: DINE;
    src: url(DINEngschriftStd.otf);
}
@font-face {
    font-family: avenir;
    src: url(Avenir.ttc);
}

#bgFixed {
    width: 159px;
    height: 230px;
    overflow: hidden;
    background: #335642;
    position: absolute;
    top: -12px;
    right: -170px;
}
.tittle-top {
    background: url("sprite-all-objects.png") no-repeat;
    background-position: -157px -4px;
    text-indent: -99999px;
    height: 31%;
    width: 4100%;
    margin: 0 auto;
    position: absolute;
    left: -10px;
    top: 73px;
}
.content-objects {
    overflow: hidden;
    position: absolute;
    top: 150px;
    height: 100%;
    width: 100%;
}
.content-objects .object-1 {
    width: 126px;
    height: 53px;
    overflow: hidden;
    position: absolute;
    top: 41px;
    left: 16px;
    background: url("sprite-all-objects.png") no-repeat #939598;
    background-position: -6px -62px;
    background-size: 251%;
    opacity: 0;
}
.content-objects .object-2 {
    width: 129px;
    height: 51px;
    overflow: hidden;
    position: absolute;
    top: 112px;
    left: -130px;
    background: url("sprite-all-objects.png") no-repeat;
    background-position: -12px -138px;
}
.content-objects .object-3 {
    width: 129px;
    height: 51px;
    overflow: hidden;
    position: absolute;
    top: 157px;
    left: -130px;
    background: url("sprite-all-objects.png") no-repeat;
    background-position: -6px -144px;
    background-size: 168%;
}
.content-objects .object-4 {
    width: 129px;
    height: 51px;
    overflow: hidden;
    position: absolute;
    top: 197px;
    left: -130px;
    background: url("sprite-all-objects.png") no-repeat;
    background-position: 1px -206px;
    background-size: 170%;
}
.content-objects .object-5 {
    width: 160px;
    height: 177px;
    overflow: hidden;
    position: absolute;
    top: 275px;
    left: -11px;
    background: url("sprite-all-objects.png") no-repeat;
    background-position: -150px -370px;
    z-index: 999;
}
#collapsed-state .content-metrics {
    width: 53%;
    height: 63%;
    position: relative;
    margin: 0 0 0 75px;
    top: 232px;
    overflow: hidden;
}
#collapsed-state .content-metrics .metric {
    background-color: #0D553F;
    height: 37px;
    width: 0px;
    position: absolute;
    bottom: 0;
    font-family: DINE;
    font-size: 24px;
    font-weight: normal;
}
#collapsed-state .content-metrics .metric-1 {
    left: 0;
    top: 37px;
}
#collapsed-state .content-metrics .metric-2 {
    left: 0;
    top: 77px;
}
#collapsed-state .content-metrics .metric-3 {
    left: 0;
    top: 118px;
}

/*.feature-expanded .content-metrics {
    width: 40%;
    height: 63%;
    position: relative;
    margin: 0 auto;
    top: 80px;
    overflow: hidden;
}
.feature-expanded .content-metrics .metric {
    background-color: #0D553F;
    height: 0;
    width: 72px;
    position: absolute;
    bottom: 0;
    font-family: DINE;
    font-size: 24px;
    font-weight: normal;
}*/
.feature-expanded .content-metrics .metric .numbre-changes {
    text-align: center;
    color: #fff;
    width: 50px;
    height: 37px;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
} 
/*.feature-expanded .content-metrics .metric-1 {
    left: 0
}
.feature-expanded .content-metrics .metric-2 {
    left: 0;
    right: 0;
    margin: 0 auto;
}
.feature-expanded .content-metrics .metric-3 {
    right: 0
}*/
#feature-expanded .content-objects {
    overflow: hidden;
    position: absolute;
    top: 153px;
    height: 100%;
    width: 100%;
}
#feature-expanded .content-objects .object-1 {
    width: 126px;
    height: 53px;
    overflow: hidden;
    position: absolute;
    top: 41px;
    left: 16px;
    background: url("sprite-all-objects.png") no-repeat #939598;
    background-position: -6px -62px;
    background-size: 251%;
    opacity: 1;
}
#feature-expanded .content-objects .object-2 {
    width: 129px;
    height: 51px;
    overflow: hidden;
    position: absolute;
    top: 112px;
    left: 0;
    background: url("sprite-all-objects.png") no-repeat;
    background-position: -12px -138px;
}
#feature-expanded .content-objects .object-3 {
    width: 129px;
    height: 51px;
    overflow: hidden;
    position: absolute;
    top: 157px;
    left: 0;
    background: url("sprite-all-objects.png") no-repeat;
    background-position: -6px -144px;
    background-size: 168%;
}
#feature-expanded .content-objects .object-4 {
    width: 129px;
    height: 51px;
    overflow: hidden;
    position: absolute;
    top: 197px;
    left: 0;
    background: url("sprite-all-objects.png") no-repeat;
    background-position: 1px -206px;
    background-size: 170%;
}
#feature-expanded .content-metrics {
    width: 72%;
    height: 63%;
    position: relative;
    margin: 0 0 0 75px;
    top: 233px;
    overflow: hidden;
}
#feature-expanded .content-metrics .metric {
    background-color: #0D553F;
    height: 37px;
    width: 160px;
    position: absolute;
    bottom: 0;
    font-family: DINE;
    font-size: 24px;
    font-weight: normal;
}
#feature-expanded .content-metrics .metric-1 {
    left: 0;
    top: 37px;
}
#feature-expanded .content-metrics .metric-2 {
    left: 0;
    top: 77px;
}
#feature-expanded .content-metrics .metric-3 {
    left: 0;
    top: 118px;
}
#feature-expanded #bgFixed {
    top: -12px;
    left: 0px;
    width: 499px;
}

.bottom-text {
    text-align: right;
    margin-top: 180px;
    margin-right: 30px;
    width: 48%;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.37);
    font-family: avenir;
    float: right;
}

.btn_click-img {
    position: absolute;
    bottom: -20px;
    right: 80px;
    background: url("sprite-all-objects.png") no-repeat;
    background-position: -65px -803px;
    background-size: 240%;
    height: 210px;
    width: 182px;
    transition: all 0.5s;
    z-index: 999;
}
.btn_click-img.rollOver {
    transform: scale(1.1);
    transition: all 0.5s;
}
/*GUIDES POSITION*/
.guide1 {
    position: absolute;
    top: 0px;
    left: 330px;
    border: solid 1px #000;
}
.guide2 {
    position: absolute;
    left: 0px;
    top: 615px;
    border: solid 1px #000;
}
/*GUIDES POSITION*/


#clickTagGeneral {
    width: 728px;
    min-height: 90px;
    float: left;
}