 /* LAYER: text PROPERTIES */

.cta{
	display: block;
	position: absolute;
	opacity: 1;
	left: 860px;
	top: 210px;
	width: 100px;
	height: 30px;
	background-image: url("cta.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100px 30px;
	transform: scale(1) rotate(0deg) translate(0px, 0px);
	-webkit-transform: scale(1) rotate(0deg) translate(0px, 0px);
	-ms-transform: scale(1) rotate(0deg) translate(0px, 0px);
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	will-change: opacity, transform;
}
.text{
	display: block;
	position: absolute;
	opacity: 1;
	left: 51px;
	top: 37px;
	width: 286px;
	height: 178px;
	background-image: url("text.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 286px 178px;
	transform: scale(1) rotate(0deg) translate(-800px, 0px);
	-webkit-transform: scale(1) rotate(0deg) translate(-800px, 0px);
	-ms-transform: scale(1) rotate(0deg) translate(-800px, 0px);
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	will-change: opacity, transform;
}
/* scene 1 text IN */
.scene1 .text, .scene1 .bubbles5, .scene1 .bubbles6{
	opacity: 1;
	transform: none;
	-webkit-transform: none;
	-ms-transform: none;
	/* duration: 8, ease: easeInOutCirc, delay: 0.5 */
	transition:  transform 4s cubic-bezier(0.485, 0.155, 0.24, 1.245) 1s;
	-webkit-transition:  -webkit-transform 4s cubic-bezier(0.485, 0.155, 0.24, 1.245) 1s;
}
/* LAYER: snickers PROPERTIES */
.snickers{
	display: block;
	position: absolute;
	opacity: 1;
	left: 504px;
	top: 64px;
	width: 190px;
	height: 102px;
	background-image: url("snickers.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 190px 102px;
	transform: scale(1) rotate(0deg) translate(-900px, 0px);
	-webkit-transform: scale(1) rotate(0deg) translate(-900px, 0px);
	-ms-transform: scale(1) rotate(0deg) translate(-900px, 0px);
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	will-change: opacity, transform;
	/*Drop shadow*/
	/*-webkit-filter: drop-shadow(3px 10px 10px rgba(0, 0, 0, 0.4));*/
}


/* scene 1 snickers IN */
.scene1 .snickers, .scene1 .bubbles4{
	opacity: 1;
	transform: none;
	-webkit-transform: none;
	-ms-transform: none;
	/* duration: 8, ease: easeInOutCirc, delay: 0.5 */
	transition: transform 4s cubic-bezier(0.485, 0.155, 0.24, 1.245) 1s;
	-webkit-transition: -webkit-transform 4s cubic-bezier(0.485, 0.155, 0.24, 1.245) 1s;
}


/* LAYER: bubbles1 PROPERTIES */
.bubbles1{
	display: block;
	position: absolute;
	opacity: 1;
	left: 802px;
	top: 11px;
	width: 49px;
	height: 49px;
	background-image: url("bubbles.png");
	background-repeat: no-repeat;
	background-position: -158px -269px;
	background-size: 569px 336px;
	transform: scale(1) rotate(0deg) translate(-900px, 0px);
	-webkit-transform: scale(1) rotate(0deg) translate(-900px, 0px);
	-ms-transform: scale(1) rotate(0deg) translate(-900px, 0px);
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	will-change: opacity, transform;
}




/* LAYER: bubbles2 PROPERTIES */
.bubbles2{
	display: block;
	position: absolute;
	opacity: 1;
	left: 671px;
	top: -49px;
	width: 106px;
	height: 88px;
	background-image: url("bubbles.png");
	background-repeat: no-repeat;
	background-position: -4px -113px;
	background-size: 569px 336px;
	transform: scale(1) rotate(0deg) translate(-850px, 0px);
	-webkit-transform: scale(1) rotate(0deg) translate(-850px, 0px);
	-ms-transform: scale(1) rotate(0deg) translate(-850px, 0px);
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	will-change: opacity, transform;
}



/* LAYER: bubbles3 PROPERTIES */
.bubbles3{
	display: block;
	position: absolute;
	opacity: 1;
	left: 804px;
	top: 106px;
	width: 121px;
	height: 123px;
	background-image: url("bubbles.png");
	background-repeat: no-repeat;
	background-position: -3px -210px;
	background-size: 569px 336px;
	transform: scale(1) rotate(0deg) translate(-1000px, 0px);
	-webkit-transform: scale(1) rotate(0deg) translate(-1000px, 0px);
	-ms-transform: scale(1) rotate(0deg) translate(-1000px, 0px);
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	will-change: opacity, transform;
}



/* LAYER: bubbles4 PROPERTIES */
.bubbles4{
	display: block;
	position: absolute;
	opacity: 1;
	left: 428px;
	top: -35px;
	width: 348px;
	height: 321px;
	background-image: url("bubbles.png");
	background-repeat: no-repeat;
	background-position: -217px -1px;
	background-size: 569px 336px;
	transform: scale(1) rotate(0deg) translate(-900px, 0px);
	-webkit-transform: scale(1) rotate(0deg) translate(-900px, 0px);
	-ms-transform: scale(1) rotate(0deg) translate(-900px, 0px);
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	will-change: opacity, transform;
}


.bubbles5{
	display: block;
	position: absolute;
	opacity: 0;
	left: 379px;
	top: 134px;
	width: 62px;
	height: 58px;
	background-image: url("bubbles.png");
	background-repeat: no-repeat;
	background-position: -125px -4px;
	background-size: 569px 336px;
	transform: scale(1) rotate(0deg) translate(-900px, 0px);
	-webkit-transform: scale(1) rotate(0deg) translate(-900px, 0px);
	-ms-transform: scale(1) rotate(0deg) translate(-900px, 0px);
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	will-change: opacity, transform;
}

.bubbles6{
	display: block;
	position: absolute;
	opacity: 1;
	left: 324px;
	top: -10px;
	width: 108px;
	height: 87px;
	background-image: url("bubbles.png");
	background-repeat: no-repeat;
	background-position: -1px -1px;
	background-size: 569px 336px;
	transform: scale(1) rotate(0deg) translate(-900px, 0px);
	-webkit-transform: scale(1) rotate(0deg) translate(-900px, 0px);
	-ms-transform: scale(1) rotate(0deg) translate(-900px, 0px);
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	will-change: opacity, transform;
}

/* scene 1 bubble3 IN */
.scene1 .bubbles1{
	transform: none;
	-webkit-transform: none;
	-ms-transform: none;
	/* duration: 8, ease: easeInOutCirc, delay: 0.5 */
	transition: transform 4s cubic-bezier(0.485, 0.155, 0.24, 1.245) 1s;
	-webkit-transition: -webkit-transform 4s cubic-bezier(0.485, 0.155, 0.24, 1.245) 1s;

}
.scene1 .bubbles2, .scene1 .bubbles3{
	transform: none;
	-webkit-transform: none;
	-ms-transform: none;
	/* duration: 8, ease: easeInOutCirc, delay: 0.5 */
	transition: transform 4s cubic-bezier(0.485, 0.155, 0.24, 1.245) 0.3s;
	-webkit-transition: -webkit-transform 4s cubic-bezier(0.485, 0.155, 0.24, 1.245) 0.3s;
}

.scene1 .bubbles3{
	transform: none;
	-webkit-transform: none;
	-ms-transform: none;
	/* duration: 8, ease: easeInOutCirc, delay: 0.5 */
	transition: transform 4s cubic-bezier(0.485, 0.155, 0.24, 1.245) 0.5s;
	-webkit-transition: -webkit-transform 4s cubic-bezier(0.485, 0.155, 0.24, 1.245) 0.5s;
}
/* n:bob sh:true d:1.5 loop:-1 dy:0.5 kf:class backfaceVisibility:hidden|kf:0 y:-8|kf:50 y:-4|kf:100 y:-8 */
@keyframes bob {
	0% {
		transform: translateY(-4px) ;
	}
	50% {
		transform: translateY(0px) ;
	}
	100% {
		transform: translateY(-4px) ;
	}
}
@-webkit-keyframes bob {
	0% {
		-webkit-transform: translateY(0px) ;
	}
	50% {
		-webkit-transform: translateY(-4px) ;
	}
	100% {
		-webkit-transform: translateY(0px) ;
	}
}
.bob {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	animation: bob 1s ease 0.3s 12 both;
	-webkit-animation: bob 1s ease 0.3s 12 both;
}
.bob2 {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	animation: bob 1s ease 0.5s 12 both;
	-webkit-animation: bob 1s ease 0.5s 12 both;
}
/* n:hang d:1.5 sh:true e:easeInOut fillMode:forwards dir:>< loop:-1 backfaceVisibility:hidden kf:class|kf:0 y:8|kf:50 y:4|kf:100 y:8 */
@keyframes hang {
	0% {
		transform: translateY(0px) ;
	}
	50% {
		transform: translateY(-4px) ;
	}
	100% {
		transform: translateY(0px) ;
	}
}
@-webkit-keyframes hang {
	0% {
		-webkit-transform: translateY(0px) ;
	}
	50% {
		-webkit-transform: translateY(-4px) ;
	}
	100% {
		-webkit-transform: translateY(0px) ;
	}
}
.hang {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	animation: hang 1s ease-in-out 12 alternate both;
	-webkit-animation: hang 1s ease-in-out 12 alternate both;
}
html, body {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #000;
	border: none;
}
.banner {
	display: block;
	position: absolute;
	overflow: hidden;
	width: 968px;
	height: 248px;
	background-color: #e4ee7f;
	border: 1px solid #666666;
	cursor: pointer;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
}