html, body, div, span, applet, object, iframe,  h1, h2, h3, h4, h5, h6, p, blockquote, pre,  a, abbr, acronym, address, big, cite, code,  del, dfn, em, img, ins, kbd, q, s, samp,  small, strike, strong, sub, sup, tt, var,  b, u, i, center,  dl, dt, dd, ol, ul, li,  fieldset, form, label, legend,  table, caption, tbody, tfoot, thead, tr, th, td,  article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary,  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,  footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,  q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 2, 2015, 7:33:01 PM
    Author     : Oneill
*/
@font-face {
    font-family: Gotham-Medium;
    src: url(fonts/Gotham-Medium.otf);
}
@font-face {
    font-family: Clarendon;
    src: url(fonts/Clarendon.eot);
    src: url(fonts/ClarendonTMed.ttf);
}
@font-face {
    font-family: Gotham-Bold;
    src: url(fonts/Gotham-Book.otf);
}
.fontGothamBold {font-family: Gotham-Bold;}
.fontGothamMedium {font-family: Gotham-Medium;}
.fontClarendon {font-family: Clarendon;}
body {
    background: transparent;
    height: 100%;
}
#ad-300x250 {
    background: #fff;
    width: 300px;
    height: 250px;
    border: 1px #000 solid;
    position: absolute;
    cursor: pointer;
    top: -1px;
    left: 0;
    overflow: hidden;
}

#bgFixed {
    width: 300px;
    height: 250px;
    overflow: hidden;
    background: url(img/bg-gloria.jpg) center center no-repeat;
}
#bgFixed .disclaimer {
    color: #000;
    font-size: 9px;
    font-family: arial;
    position: absolute;
    bottom: 0;
    left: 3px;
    z-index: 99;
}
#frame_1, #frame_2 {
    width: 300px;
    height: 250px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
#frame_3 {
    width: 300px;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
}
#frame_4 {
    width: 300px;
    height: 250px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
#frame_5 {
    width: 300px;
    height: 250px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
/***********Elements************/
#frame_1 .text1 {
    position: absolute;
    opacity: 1;
    top: 36px;
    left: 17px;
    color: #000;
    font-family: Gotham-Medium;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
}
#frame_1 .text1 .fontClarendon {
    font-size: 52px;
    line-height: 48px;
}

#frame_2 .text1 {
    position: absolute;
    top: 21px;
    left: 0;
    right: 0;
    color: #000;
    font-size: 18px;
    line-height: 21px;
}
#frame_2 .text1 .fontClarendon {
    line-height: 0;
    margin-top: 0px;
    display: block;
}
#frame_2 .text1 .copy_1 {
    font-size: 26px;
    line-height: 0px;
    margin-top: 27px;
    display: block;
    text-align: center;
}
#frame_2 .text1 .copy_2 {
    font-size: 18px;
    line-height: 0px;
    margin-top: 2px;
    display: block;
    text-align: center;
}
#frame_2 .text1 .copy_3 {
    font-size: 38px;
    line-height: 0px;
    margin-top: 9px;
    display: block;
    text-align: center;
}
#frame_3 .text1 {
    position: absolute;
    top: 38px;
    left: 0;
    right: 0;
}
#frame_3 .text1 .copy_1 {
    font-size: 18px;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
}
#frame_3 .text1 .copy_2 {
    font-size: 55px;
    margin-top: 1px;
    display: block;
    text-align: center;
}
#frame_4 .text1 {
    position: absolute;
    top: 43px;
    left: 60px;
}
#frame_4 .text1 .copy_1 {
    font-size: 17px;
    display: block;
    text-align: center;
    line-height: 0px;
}
#frame_4 .text1 .copy_2 {
    font-size: 38px;
    line-height: 21px;
}

#frame_5 .labelGloriaFerrer {
    position: absolute;
    bottom: -19px;
    left: -21px;
    width: 278px;
}
#frame_5 .bottle {
    position: absolute;
    width: 31%;
    height: auto;
    right: -24px;
    top: -69px;
}
#frame_5 .btnEnterNow {
    position: absolute;
    width: 181px;
    left: 16px;
    top: 29px;
    text-align: center;
    color: #fff;
    background: #9b9c57;
    border-radius: 28px;
    padding: 11px 12px 10px 0px;
    border: solid 3px #fff;
    font-size: 21px;
}
#frame_5 .btnEnterNow:after {
    content: "";
    position: absolute;
    right: 22px;
    top: 13px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid white;
}
/*GUIDES POSITION*/
.guide1 {
    position: absolute;
    left: 310px;
}
/*GUIDES POSITION*/


#clickTagGeneral {
    width: 300px;
    height: 250px;
    float: left;
}