@charset "UTF-8";
/* General */
div{position:absolute}
body{margin:0; padding:0;}
sup {
    vertical-align: super;
    font-size: 70%;
}

b {
    font-weight: bold;
}
img{
	-webkit-transform: translate2d(0px,0px,0px);
	-ms-transform: translate2d(0px,0px,0px);
	-moz-transform: translate2d(0px,0px,0px);
	transform: translate2d(0px,0px,0px);
	}
#wrapper{
	width:298px;
	height:598px;
	overflow:hidden;
	/*border:solid 1px; */
	}
#loading_dc{
	width:300px;
	height:600px;
	background-color:white;
	}
#loading_image_dc{
	position:absolute;
	left: 62px;
	top: 284px;
	}
	
/*Exits*/
#cl-exit{
	width: 160px;
	height: 333px;
	
	}

#ex-exit{
	width: 320px;
  	height: 330px;
	cursor:pointer;
	display:none;
	}
	
/*CTAs*/
#cl-cta-exit{
	top: 285px;
	left: 21px;
	width:117px;
	height:22px;
	border-radius: 100px;
	cursor:pointer;
	display:none;
	overflow:hidden;
	z-index: 1000;
	}
#ex-cta-exit{
	top: 220px;
	left: 68px;
	width: 191px;
	height: 29px;
	border-radius: 100px;
	cursor:pointer;
	display:none;
	overflow:hidden;
	}
.shimer{
	left:-52px;
	width:44px;
	height:44px;
	opacity:.7;
	background-image:url(collapsed-shimer.png);
	}
	
/*Buttons*/
#cl-replay{
	top: 23px;
  	left: 128px;
	width:24px;
	height:24px;
	background-image:url(collapsed-replay.png);
	opacity:0;
	display:none;
	cursor:pointer;
	}
#ex-close{

	top: 10px;
	left: 280px;
	width:40px;
	height:38px;
	display:none;
	cursor:pointer;
	}
	
/* Collapsed */
#container_dc{
	width:158px;
	height:596px;
	display:none;
	background-image:url(collapsedBg.png);
	background-repeat:no-repeat;
	border: 1px solid #000;
	overflow: hidden;
	/*background-color: #78c6e1;*/
	}
#cl-arrow-mask{

	top: 171px;
	left: 72px;
	width:10px; /*9px*/
	height:85px;
	overflow:hidden;
	z-index: 999;



	}
#cl-arrow{
	
	left:0px;
	top: 30px;
	width:9px;
	height:115px;
	background-image:url(collapsed-arrow.png);
	opacity:0;
	}

#lace-mask1{
	overflow:hidden;
	top: 27px;
	left: 25px;
	height:28px;
	width:102px;
	-ms-transform: rotate(4deg); /* IE 9 */
    -webkit-transform: rotate(4deg); /* Chrome, Safari, Opera */
    transform: rotate(4deg);
	}
#lace-mask1 > .shimer{opacity:.5;}

#lace-mask2{
	overflow:hidden;
	top: 56px;
	left: 7px;
	height:28px;
	width:163px;
	-ms-transform: rotate(-2deg); /* IE 9 */
    -webkit-transform: rotate(-2deg); /* Chrome, Safari, Opera */
    transform: rotate(-2deg);
	}
#lace-mask2 > .shimer{opacity:.5;}

#cl-clickDrag{
	top: 283px;
	left: 27px;
	width:98px;
	height:12px;
	background-image:url(collapsed-clickdrag.png);
	opacity:0;
	}
#cl-insulin{
	left:-67px;
	top: 168px;
	width:71px;
	height:23px;
	background-image:url(collapsed-insulin.png);
	opacity:0;
	cursor: pointer;
	z-index: 1001;
	
	}
#cl-insulin-shadow{
	top:90px;
	left:103px;
	width:94px;
	height:52px;
	opacity:0;
	background-image:url(collapsed-insulin-shadow.png);
	}
#cl-revealMask{
	top: 164px;
	left: 70px;
	width:1px;
	height:1px;
	border:solid 6px #e2e419;
	border-radius: 100px;
	overflow:hidden;
	opacity:0;
	}
#cl-revealBg{
	top: -170px;
	left: -76px;
	width:160px;
	height:338px;
	background-image:url(collapsed-revealBg.png);
	}
#cl-cta{
	top: 280px;
	left: 11px;
	border-radius: 100px;
	width: 139px;
	height: 26px;
	background-color:#e2e419;
	background-image:url(collapsed-cta.png);
	background-position:center;
	background-repeat:no-repeat;
	opacity:0;
	}
#playbutton {  width: 65px;
  height: 65px;
  background: rgba(0,172,217,1);
  position: absolute;
  display: block;
  border-radius: 40px;
  top: 30px;
  left: 130px;
  visibility: visible;
  box-shadow: 0px 0px 3px 3px #00acd9, inset 0px 0px 3px 3px rgba(255,255,255,.8);
  opacity: 1;
  -webkit-transition: opacity .5s .5s;
}

#playbutton:before {width: 0;
  height: 0;
  border-left: 22px solid white;
  border-right: 22px solid transparent;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
  position: absolute;
  content: "";
  top: 10px;
  left: 25px;
 }


/*Dragable*/
#dragger{
	top:87px;
	left:103px;
}
#dragRail{
	/*width:161px;*/
	/*height:23px;*/

	width: 23px;
	height: 161px;


}

/* Expanded */
#expanded_container_dc{
	width:320px;
	height:596px;
	background-image:url(expandedBg.jpg);
	background-repeat:no-repeat;
	background-color: #99D3E8;
	z-index:1001;
	display:none;
	border: 1px solid #000;
	}
	
#ex-video{
	width: 309px;
  	height: 121px;
  	display:none;
}
#ex-video-mask{
	top: 40px;
  	left: 5px;
	width:314px;
	height:122px;
	overflow:hidden
	}
#video-container{z-index:2000;}

#ex-replay{
	background-image:url(expanded-replay.png);
	height:64px;
	width:64px;
	top: 77px;
  	left: 122px;
	display:none;
	cursor:pointer;
	}
#ex-copybar{
	background:url(expanded-copybar.png) no-repeat;
	width:198px;
	height:41px;
	top: 142px;
  	left: 59px;
	}
	
/*CollapsedISI*/
#cl-ISI { 
	top: 333px;
	width: 160px;
	height: 237px;
	background-color:#99d3e8;
	z-index:1500;
}

#cl-scrollContainer {
	width: 160px;
	height: 230px;
	left: 8px;
	top: 5px;
	overflow-y: scroll; 
	overflow-x: hidden; 
	}
#cl-textWrapper {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	color: #4d4d50;
	font-size: 12px;
	line-height: 14px;
	top:-5px;
	}
#cl-scrollContainer p {display: block; width: 135px;}
#cl-scrollMask {
	width: 153px;
	height: 235px;
	overflow: hidden
	}
#cl-scrollBar { 
	top: 5px;
	left: 147px;
	height: 220px;
	width: 7px;
	background-color:#c1e2ef;
	border-radius:15px;
	}
#cl-scrollBar #cl-knob { 
	background-color:#868586;
	border-radius:15px;
	height: 23px;
	width: 7px;
	cursor: pointer;
	}
ul {
    padding: 0px;
    margin: 0;
}
#cl-bullets{
	margin: 0 2.5em 0 1.3em;
}
#cl-Box{
	position:relative;
	display: block;
	
	clear: both;
}

/*FT*/
#cl-footer{
	top: 567px;
	width: 160px;
	height: 30px;
	background-color:#99d3e8;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: 400;
	line-height: 10px;
	z-index:1600;
	}
#cl-clickHere{
	color: #020303; 
	font-size: 10px; 
	text-align: right; 
	text-decoration: underline; 
	top: -8px; 
	right: 8px;
	height: 30px;
	cursor: pointer;
	}
#cl-code{  
	color: #262b2c; 
	font-family:Arial, Helvetica, sans-serif;
	line-height: 10px;
	font-size: 8px; 
	top: 302px;
	left: 41px;
	height: 30px;
	opacity: 0;
	}
/*expandedISI*/

#ex-ISI { 
	top: 337px;
  	width: 300px;
  	height: 253px;
	background-color:#99d3e8;
	z-index:2100;
}

#ex-scrollContainer {
	width: 306px;
  	height: 224px;
	left: 8px; 
	overflow-y: scroll; 
	overflow-x: hidden; 
	}
#ex-textWrapper {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	color: #4d4d50;
	font-size: 12px;
	line-height: 14px;
	top:-5px;
	}
#ex-scrollContainer p {display: block; width: 285px;}
#ex-scrollMask {
	width: 296px;
  	height: 244px;
	overflow: hidden
	}
#ex-scrollBar { 
	top: 2px;
	left: 307px;
	height: 200px;
	width: 7px;
	background-color:#c1e2ef;
	border-radius:15px;
	}
#ex-scrollBar #ex-knob { 
	background-color:#868586;
	border-radius:15px;
	height: 22px;
	width: 7px;
	cursor: pointer;
	}
#ex-bullets{
	margin: 0 2.5em 0 1.3em;
}
#ex-Box{
	position:relative;
	display: block;
	clear: both;
}

.imag_text {

	margin-top: -7px;
  	margin-bottom: -4px;
}


/*FT*/
#ex-footer{
	z-index:2200;
	top: 565px;
	width: 300px;
	height: 30px;
	background-color:#99d3e8;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: 400;
	line-height: 10px;
	}
#ex-clickHere{
	color: #020303; 
	font-size: 10px; 
	text-align: right; 
	text-decoration: underline; 
	top: -4px; 
	right: -4px;
	height: 23px;
	cursor: pointer
	}
#ex-code{  
	color: #262b2c; 
	font-size: 8px; 
	top: 0px; 
	left: 8px; 
	height: 23px;

	}