@charset "UTF-8";
/* CSS Document */

/* Default style, feel free to remove if not needed. */
body, body * {
	vertical-align: baseline;
	border: 0;
	outline: 0;
	padding: 0;
	margin: 0;
}

sup {
    vertical-align: super;
    font-size:6px;
}

/* Div layer for the entire banner. */
#loading_dc {
    width: 100%;
    height: 100%x;
    background-color: white;
    z-index: 10;
}
#loading_image_dc {
    position: absolute;
    left: 50%;
    margin-left: -15px;
    top: 50%;
    margin-top: -15px;
}
#container_dc {
	position: absolute;
    overflow: hidden;
	width: 158px;
	height: 598px;
	border:1px solid #666666;
	top: 0px;
	left: 0px;
	margin: auto;
    display: none;
    z-index: 20;
}

#woman{
    position: absolute;
    width: 100px;
	height: 171px;
    top: -1px;
    left: -1px;
    background: url('sprite.png') no-repeat 0px 0px;
    z-index: 100;
}

#copy1{
    position: absolute;
    width: 91px;
	height: 39px;
    background: url('sprite.png') no-repeat -107px -2px;
    top: 46px;
    right: 8px;
    z-index: 100;
}

#copy2{
    position: absolute;
    width: 126px;
	height: 34px;
    background: url('sprite.png') no-repeat -105px -43px;
    top: 160px;
    left: 7px;
    opacity: 0;
    z-index: 100;
}

#copy3{
    position: absolute;
    width: 153px;
	height: 140px;
    background: url('sprite.png') no-repeat -99px -80px;
    top: 203px;
    left: 3px;
    opacity: 0;
    z-index: 100;
}

#copy4{
    position: absolute;
    width: 147px;
	height: 97px;
    background: url('sprite.png') no-repeat -107px -285px;
    top: 113px;
    left: 8px;
    opacity: 0;
    z-index: 102;
}

#copy5{
    position: absolute;
    width: 137px;
	height: 205px;
    background: url('sprite.png') no-repeat -107px -382px;
    top: 60px;
    left: 8px;
    opacity: 0;
    z-index: 104;
}

#copy5b{
    position: absolute;
    width: 143px;
	height: 60px;
    background: url('sprite.png') no-repeat -108px -603px;
    top: 221px;
    left: 0px;
    opacity: 1;
    z-index: 104;
}


#copy6{
    position: absolute;
    width: 133px;
	height: 86px;
    top: 75px;
    left: 13px;
    opacity: 0;
    z-index: 106;
}

#copy6_inside1{
    position: absolute;
    width: 133px;
	height: 108px;
    background: url('sprite.png') no-repeat -106px -664px;
    opacity: 1;
    z-index: 106;
}

#ctaBtn{
    position: absolute;
    width: 79px;
    height: 33px;
    background-color: #cc6600;
    border-radius: 5px;
    border: 1px solid #cc6600;
    top: 207px;
    left: -130px;
    cursor: pointer;
    opacity: ;
    z-index: 106;
}

#ctaText1{
    position: absolute;
    width: 64px;
	height: 35px;
    background: url('sprite.png') no-repeat -3px -181px;
    top: 0px;
    left: 5px;
    z-index: 106;
}

#ctaText2{
    position: absolute;
    width: 64px;
	height: 35px;
    background: url('sprite.png') no-repeat -3px -218px;
    top: -1px;
    left: 9px;
    opacity: 0;
    z-index: 100;
}

#AUB_logo{
    position: absolute;
    width: 123px;
	height: 40px;
    background: url('sprite.png') no-repeat -106px -777px;
    top: 287px;
    right: -130px;
    opacity: 0;
    z-index: 106;
}


#PIimg{
    position: absolute;
    background: url('sprite.png') no-repeat -106px -221px;
    width: 128px;
    height: 66px;
    top: 354px;
    left: 6px;
    cursor: pointer;
    z-index: 108;
}


#PI_exit1{
    position: absolute;
    background-color: aqua;
    width: 132px;
	height: 14px;
    top: 410px;
    left: 5px;
    cursor: pointer;
    opacity: 0;
    z-index: 109;
}

#PI_exit2{
    position: absolute;
    background-color: aqua;
    width: 132px;
	height: 14px;
    top: 395px;
    left: 5px;
    cursor: pointer;
    opacity: 0;
    z-index: 109;
}


#piBg{
    position: absolute;
    width: 158px;
	height: 77px;
    background-color:#003594 ;
    top: 349px;
    z-index: 107;
}

#isi{
    position: absolute;
    width: 159px;
	height: 100px;
    background-color:#ffffff ;
    top: 426px;
    z-index: 9999;
}

#isi p{
    width: 140px;
/*	height: 68px;*/
    font-family: Arial;
    font-size: 10px;
    letter-spacing: -0.17px;
    padding: 7px;
/*    background-color: aqua;*/
}
#isi p span {
    font-weight: bold;
}
#isiClicktag{
    /*position: absolute;*/
    width: 116px;
    height: 22px;
    /*background-color: aqua;*/
    left: 4px;
    bottom: 3px;
    /*opacity: 0;*/
    /*z-index: 101;*/
    cursor: pointer;
}



#bg1{
    position: absolute;
    width: 158px;
	height: 403px;
    background: url('sprite.png') no-repeat -101px -837px;
    top: 0px;
    z-index: 99;
}

#bg2{
    position: absolute;
    width: 158px;
	height: 403px;
    background: url('sprite.png') no-repeat -101px -1242px;
    top: 0px;
    opacity: 0;
    z-index: 101;
}

#bg3{
    position: absolute;
    width: 158px;
	height: 393px;
    background: url('sprite.png') no-repeat -101px -1647px;
    top: 0px;
    opacity: 0;
    z-index: 103;
}

#bg4{
    position: absolute;
    width: 158px;
	height: 383px;
    background: url('sprite.png') no-repeat -101px -1647px;
    top: 0px;
    opacity: 0;
    z-index: 105;
}


#content_dc {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 100;
	background-repeat:no-repeat;
}



/* Invisible button for background clickthrough. */
#background_exit_dc {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	cursor: pointer;
	opacity: 0;
	z-index: 400;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}


/*Scroll Styles*/

/* Styles specific to this particular page */
.scroll-pane{
    width: 100%;
    height: 200px;
    overflow: auto;
}
.horizontal-only
{
    height: auto;
    max-height: 200px;
}

.jspContainer{

}

.jspPane{

}


.jspArrowUp{
    position: absolute;
    background: url('sprite.png') no-repeat -2px -175px !important;
    width: 7px !important;
    height: 3px !important;
    left: 7px;
}

.jspArrowDown{
    position: absolute;
    background: url('sprite.png') no-repeat -11px -175px !important;
    width: 7px !important;
    height: 3px !important;
    left: 7px;
}

.jspVerticalBar{
    background-color:transparent !important;
    top:3px !important;
}

.jspTrack{
    height: 157px !important;
    width: 4px;
    background-color:#CCCCCC !important;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    border: 1px solid #999999;

    margin-bottom: 1px;
    margin-left: 0.5px;
    margin-top: 4px;
    left: 7px
}

.jspDrag{
    height: 13px !important;
    width: 3px;
    background: #1e5799 !important; /* Old browsers */
    background: -moz-linear-gradient(top,  #1e5799 0%, #f16a22 0%, #f79235 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#f16a22), color-stop(100%,#f79235)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#f16a22 0%,#f79235 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1e5799 0%,#f16a22 0%,#f79235 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1e5799 0%,#f16a22 0%,#f79235 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom,  #1e5799 0%,#f16a22 0%,#f79235 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#f79235',GradientType=0 ) !important; /* IE6-9 */

   -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    border: 1px solid #999999;
}

#isi a{
    color:#000000;
    z-index:9999;
    position:absolute;
    display:block;
}
