
.banner {
    position: absolute;
    width: 158px;
    height: 598px;
    border:1px solid #333;
    background: url(../img/background.jpg) repeat-x;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

#overlay {
    position: absolute;
    width: 158px;
    height: 598px;
    opacity: 0;
    cursor: pointer;
    opacity: 0;
}

#loading_dc {
    position: absolute;
    width: 158px;
    height: 598px;
}

#loading_image_dc{
    position: absolute;
    margin: 0 auto;
    top: 250px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
}

#badge {
    background: url(../img/badge.png) no-repeat;
    position: absolute;
    opacity: 0;
    height: 83px; 
    width: 144px;
    left: 0;
    top: 0;
}

#copy_01{
    position: absolute;
    margin: 0 auto;
    top: 208px;
    left: 0;
    right: 0;
    width: 89px;
    height: 12px;
    background: url(../img/copy_01.png) no-repeat;
    opacity: 0;
}

#copy_02{
    position: absolute;
    margin: 0 auto;
    top: 229px;
    left: 0;
    right: 0;
    width: 152px;
    height: 14px;
    background: url(../img/copy_02.png) no-repeat;
    opacity: 0;
}
#copy_03{
    position: absolute;
    margin: 0 auto;
    top: 251px;
    left: 0;
    right: 0;
    width: 70px;
    height: 15px;
    background: url(../img/copy_03.png) no-repeat;
    opacity: 0;
    
}

#copy_03_2{
    position: absolute;
    margin: 0 auto;
    top: 276px;
    left: 0;
    right: 0;
    width: 121px;
    height: 15px;
    background: url(../img/copy_03_2.png) no-repeat;
    opacity: 0;
    
}
#copy_04{
    position: absolute;
    margin: 0 auto;
    top: 301px;
    left: 0;
    right: 0;
    width: 135px;
    height: 15px;
    background: url(../img/copy_04.png) no-repeat;
    opacity: 0;
}

#copy_come{
    position: absolute;
    top: 172px;
    left: 7px;
    width: 64px;
    height: 15px;
    background: url(../img/copy_come.png) no-repeat;
    opacity: 0;
}

#copy_listen{
    position: absolute;
    margin: 0 auto;
    top: 196px;
    left: 7px;
    width: 73px;
    height: 15px;
    background: url(../img/copy_listen.png) no-repeat;
    opacity: 0;
}

#copy_learn{
    position: absolute;
    top: 219px;
    left: 7px;
    width: 69px;
    height: 15px;
    background: url(../img/copy_learn.png) no-repeat;
    opacity: 0;   
}

#logo_MS{
    position: absolute;
    margin: 0 auto;
    top: 211px;
    left: 0;
    right: 0;
    width: 147px;
    height: 94px;
    background: url(../img/MS.png) no-repeat;
    opacity: 0;
}

#footer{
    position: absolute;
    font-size: 10px;
    color: #333;
    left: 10px;
    top: 536px;
    width: 140px;
    letter-spacing: 0.02em;
    line-height: 11px;
    opacity: 0;
    cursor: pointer;
    text-align: center;
}

#ff {
    position: absolute;
    width: 158px;
    height: 598px;
    background: #c9db2a;
    opacity: 0;
}

#ff-header{
    position: absolute;
    margin: 0 auto;
    top: 43px;
    left: 9px;
    width: 134px;
    height: 34px;
    background: url(../img/ff-header.png) no-repeat;
    opacity: 0;
}

#myform{
    opacity: 0;
    display: none;
}

#ff input.rounded {
    position: absolute;
    top: 353px;
    left: 10px;
    width: 81px;
    height: 22px;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 20px;
    padding: 4px 7px;
    outline: 0;
    -webkit-appearance: none;
}
#ff input.rounded:focus {
    border-color: #339933;
}

#ff button.submit {
    position: absolute;
    top: 353px;
    left: 110px;
    width: 43px;
    height: 35px;
    background: url(../img/submit-btn.png) no-repeat;
    cursor: pointer;
    border: none;
}

.code{ 
margin-top: 3px;}

#msg{
    position: absolute;
    font-size: 9px;
    top: 191px;
    left: 50px;
    color: rgb(188, 9, 9);
}

#logo-genzyme {
    position: absolute;
    width: 76px;
    height: 41px;
    top: 485px;
    left: 0px;
    right: 0;
    margin: 0 auto;
    background: url(../img/logo-genzyme.png) no-repeat;
    opacity: 0;
    cursor: pointer;
}

.checkmark { position: absolute; width: 18px; height: 18px; background: url(../img/checkmark.png) no-repeat; }
#checkmark1 { top: 95px; left: 11px; opacity: 0; }
#checkmark2 { top: 146px; left: 11px; opacity: 0;}

.ff-copy { position: absolute; left:31px; }
#ff-copy1 { width: 105px; height:37px; top:100px; background: url(../img/ff-copy1.png) no-repeat; opacity: 0;}
#ff-copy2 { width: 104px; height:92px; top:152px; background: url(../img/ff-copy2.png) no-repeat; opacity: 0;}
#ff-copy3 { 
    position: absolute;
    margin: 0 auto;
    top:268px;     
    left: 0;
    right: 0;
    width: 124px; 
    height:67px; 
    background: url(../img/ff-copy3.png) no-repeat;
    opacity: 0; 
}

#people{
    position: absolute;
}

#people li{
    position: absolute;
    width: 28px;
    height: 55px;
    opacity: 0;  
}

.people1 { background: url(../img/people/people_01.png) no-repeat; top: 309px; left: 105px; }
.people2 { background: url(../img/people/people_02.png) no-repeat; top: 320px; left: 123px; }
.people3 { background: url(../img/people/people_03.png) no-repeat; top: 300px; left: 74px; }
.people4 { background: url(../img/people/people_04.png) no-repeat; top: 303px; left: 14px; }
.people5 { background: url(../img/people/people_05.png) no-repeat; top: 315px; left: 34px; }
.people6 { background: url(../img/people/people_06.png) no-repeat; top: 322px; left: 83px; }
.people7 { background: url(../img/people/people_07.png) no-repeat; top: 318px; left: 63px; }
.people8 { background: url(../img/people/people_08.png) no-repeat; top: 316px; left: 130px; }
.people9 { background: url(../img/people/people_09.png) no-repeat; top: 308px; left: 27px; }
.people11 { background: url(../img/people/people_11.png) no-repeat; top: 310px; left: 93px; }
.people12 { background: url(../img/people/people_11.png) no-repeat; top: 312px; left: 62px;}
.people13 { background: url(../img/people/people_13.png) no-repeat; top: 307px; left: 38px; }
.people14 { background: url(../img/people/people_14.png) no-repeat; top: 314px; left: 45px; }
.people15 { background: url(../img/people/people_15.png) no-repeat; top: 321px; left: 53px; }
.people16 { background: url(../img/people/people_16.png) no-repeat; top: 309px; left: 95px; }
.people17 { background: url(../img/people/people_17.png) no-repeat; top: 329px; left: 126px; }
.people18 { background: url(../img/people/people_18.png) no-repeat; top: 317px; left: 100px; }
.people19 { background: url(../img/people/people_19.png) no-repeat; top: 312px; left: 19px; }
.people20 { background: url(../img/people/people_20.png) no-repeat; top: 313px; left: 80px; }
.people21 { background: url(../img/people/people_19.png) no-repeat; top: 317px; left: 119px; }
.people22 { 
    background: url(../img/people/people_18.png) no-repeat; 
    top: 316px;
    left: 19px;
    -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH"; 
}
.people23 { background: url(../img/people/people_15.png) no-repeat; top: 318px; left: 7px; }
.people24 { background: url(../img/people/people_15.png) no-repeat; top: 310px; left: 70px; }
.people25 { 
    background: url(../img/people/people_05.png) no-repeat; 
    top: 316px; 
    left: 80px; 
    -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH"; 
}



