@charset "UTF-8";
/* CSS Document */

/* Default style, feel free to remove if not needed. */
body, body * {
	vertical-align: baseline;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}


.penCopy{
	position: absolute;
	right: 2px;
	text-align: right;
}


#penCopy1{
	position: absolute;
	right: 2px;
	text-align: right;
	opacity: 1;
	font-size: 8px;
}
#penCopy2{
	position: absolute;
	right: 2px;
	text-align: right;
	opacity: 0;
	font-size: 8px;
}

#penCopy1.fadeout {
	opacity: 0;
	transition: .6s ease-in-out;
}
#penCopy2.fadein {
	opacity: 1;
	transition: .6s ease-in-out;
}

/*----------------------*/

#myLogoImg {
	position: absolute;
	top: 4px;
	left: 4px;
}
#expand_btn {
	width: 127px;
	height: 407px;
	position: absolute;
	cursor: pointer;
	margin-left: 30px;
}
/* Div layer for the entire banner. */
#container_dc {
	position: absolute;
	top: 0px;
	left: 0px;
	margin: auto;
	width: 400px;
	height: 600px;
}
#close_btn_dc {
	position: absolute;
	top: 36px;
	left: 4px;
	cursor: pointer;
	width: 17px;
	height: 18px;
	background-image: url('close.png');
	z-index: 600;
}
#plink1,
#plink2{
	cursor: pointer;
}
/*COLLAPSE STATE*/
#content_dc {
	position: absolute;
	width: 158px;
	height: 598px;
	top: 0px;
	background-color: #FFF;
	z-index: 100;
	background-image: url('bg.png');
	background-repeat: no-repeat;
	border: 1px solid #666;
	overflow: hidden;
}
#expand_content_dc {
	position: absolute;
	width: 398px;
	height: 598px;
	/*	border:1px solid #999999;*/
	top: 0px;
	left: 0px;
	background-color: #FFF;
	z-index: 200;
	display: none;
	background-repeat: no-repeat;
	border: 1px solid #666;
}
/* Invisible button for background clickthrough. */
#expanded_background_exit_dc {
	position: absolute;
	width: 400px;
	height: 456px;
	top: 0px;
	left: 0px;
	cursor: pointer;
	opacity: 0;
	z-index: 400;
	display: none;
}
:focus {
	outline: none;
}
::-moz-focus-inner {
border:0;
}
#legal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 6px;
	font-weight: 700;
	top: 322px;
	right: 8px;
	position: absolute;
	opacity: 0;
	line-height: 0px;
	margin: 0px;
	padding: 0px;
}
#reg {
	font-size: 10px;
	margin-top: -5px;
	line-height: 9px;
}
sup {
	vertical-align: top;
	position: relative;
}



#footer {
	width: 160px;
	height: 68px;
	bottom: 0px;
	background-color: #3d2472;
	z-index: 900;
	position: absolute;
	display: inline-block;
	opacity: 0;
	line-height: 11px;
}
#footer p {
	padding: 0px 0 0 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FFF;
	float: left;
	margin: 0px;
	margin-top: -1px;
	line-height: 9px;
}
#footer p a {
	text-decoration: none;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: underline;
	letter-spacing: .2px;
	left: 27px;
	text-align: center;
	position: absolute;
	line-height: 11px;
	margin-top: 5px;
}
#footer #code {
	margin-top: 2px;
	position: absolute;
	text-align: center;
	letter-spacing: .2px;
	line-height: 9px;
	top: 26px;
	left: 28px;
}
/* Collapsed animation. */
#dotsContainer {
	left: 64px;
	top: 80px;
	position: absolute;
	transform: scale(.62);
	-moz-transform: scale(.62); /* Firefox */
	-webkit-transform: scale(.62); /* Webkit */
	-o-transform: scale(.62); /* Opera */
	-ms-transform: scale(.62); /* IE 9 */
}
#dots {
	left: 0px;
	top: 0px;
	opacity: 0;
	position: absolute;
}
#smallDots {
	left: 0px;
	top: 0px;
	position: absolute;
}
#dot1 {
	left: 16px;
	top: 16px;
	opacity: 0;
	position: absolute;
}
#dot2 {
	left: 27.5px;
	top: 13px;
	opacity: 0;
	position: absolute;
}
#dot3 {
	left: 36px;
	top: 11px;
	opacity: 0;
	position: absolute;
}
#dot4 {
	left: 44px;
	top: 9px;
	opacity: 0;
	position: absolute;
}
#dot5 {
	left: 51px;
	top: 7px;
	opacity: 0;
	position: absolute;
}
#dot6 {
	left: 59px;
	top: 7px;
	opacity: 0;
	position: absolute;
}
#tougeo {
	left: 5px;
	top: 107px;
	opacity: 0;
	position: absolute;
}
#line1_a {
	left: -100px;
	top: 190px;
	position: absolute;
}
#line1_b {
	left: 300px;
	top: 210px;
	position: absolute;
}
#line2 {
	left: -150px;
	top: 230px;
	position: absolute;
}
#logo {
	left: 5px;
	top: 107px;
	opacity: 0;
	position: absolute;
}
#pen {
	left: 5px;
	top: 260px;
	opacity: 0;
	position: absolute;
}
#line3 {
	left: 200px;
	top: 193px;
	position: absolute;
}
#line4 {
	left: 400px;
	top: 202px;  /*-43*/
	position: absolute;
}
/* FRAME 1*/
#dots.fadein {
	opacity: 1;
	transition: .6s ease-in-out;
}
#dot1.fadein {
	opacity: 1;
	transition: .2s ease-in-out;
}
#dot2.fadein {
	opacity: 1;
	transition: .2s ease-in-out;
}
#dot3.fadein {
	opacity: 1;
	transition: .2s ease-in-out;
}
#dot4.fadein {
	opacity: 1;
	transition: .2s ease-in-out;
}
#dot5.fadein {
	opacity: 1;
	transition: .2s ease-in-out;
}
#dot6.fadein {
	opacity: 1;
	transition: .2s ease-in-out;
}
#tougeo.fadein {
	opacity: 1;
	transition: .6s ease-in-out;
}
#line1_a.fadein {
	left: 35px;
	transition: .6s ease-in-out;
}
#line1_b.fadein {
	left: 35px;
	transition: .6s ease-in-out;
}
#line2.fadein {
	left: 17px;
	transition: .6s ease-in-out;
}
#tougeo.fadeout {
	opacity: 1;
	transition: .6s ease-in-out;
} 
/*this logo stays here for this version*/
#line1_a.fadeout {
	opacity: 0;
	left: 35px;
	transition: .6s ease-in-out;
}
#line1_b.fadeout {
	opacity: 0;
	left: 35px;
	transition: .6s ease-in-out;
}
#line2.fadeout {
	opacity: 0;
	left: 17px;
	transition: .6s ease-in-out;
}
/*#dotsContainer.fadeout {opacity: 0; transition: .6s ease-in-out; }*/

/*#logo.fadein {opacity: 1; transition: .6s ease-in-out;}*/ /*This logo is necessary in this version*/
#pen.fadein {
	opacity: 1;
	transition: .6s ease-in-out;
}
#line3.fadein {
	left: 17px;
	transition: .6s ease-in-out;
}
#legal.fadein {
	opacity: 1;
	transition: .6s ease-in-out;
}
#footer.fadein {
	opacity: 1;
	transition: .6s ease-in-out;
}
#ISI.fadein {
	top: 334px;
	transition: .6s ease-in-out;
}
#line3.fadeout {
	left: 400px;
	transition: .6s ease-in-out;
}
#line4.fadein {
	left: 20px;
	transition: .6s ease-in-out;
}



/* EXPANDED PARAMETERS. */
#tab1 {
	position: absolute;
	cursor: pointer;
}
#tab2 {
	position: absolute;
	cursor: pointer;
}
/* ISI */
#openISI.display {
	display: block
}
#tittle {
	font-size: 14px;
	color: #461e6c;
}
#ISI {
	position: absolute;
	top: 630px;
	left: 0;
	width: 160px;
	height: 200px;
	z-index: 3;
	background-color: #e0e0e0;
}
#scrollContainer { /*Extend to hide the default scroll*/
	width: 176px;
	height: 200px; /*was 128*/
	position: absolute;
	top: -6px;
	left: 3px;
	overflow-y: scroll;
	overflow-x: hidden;
	transition: .6s ease-out;
}
#textWrapper {
	position: absolute;
	top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	color: #000;
	font-size: 12px;
	line-height: 14px;
	width: 145px;
}
p b {
	color: #000;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
#scrollContainer p {
	width: 138px;
	min-height: 6px;
}
#scrollContainer ul li {
	width: 135px;
}
#scrollMask {
	width: 160px;
	height: 190px;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden
}
#scrollwrapper {
	border-left: 1px solid #d6d6d6;
	position: absolute;
	top: 0px;
	right: 2px;
	height: 194px;
	width: 12px;
}
#scrollBar {
	position: absolute;
	top: 1px;
	left: 2px;
	height: 166px;
	width: 8px;
	background-color: #e1e1e1;
	margin-top: 7px;
	margin-bottom: 7px;
}
#scrollBar #up, #scrollBar #down {
	position: absolute;
	top: 170px;
	left: 0;
	margin-bottom: 2px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 4px 6px 4px;
	border-color: transparent transparent #a1a1a1 transparent;
}
#scrollBar #down {
	/* top: auto; */
	bottom: -12px;
	margin-bottom: 0;
	margin-top: 9px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 4px 0 4px;
	border-color: #a1a1a1 transparent transparent transparent;
}
#scrollBar #knob {
	background-color: #acacac;
	position: absolute;
	top: 0px;
	left: 1px;
	height: 20px;
	width: 6px;
	cursor: pointer;
	z-index: 999999;
	border-radius: 5px;
	opacity: 0.5;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	#scrollBar #up {
		border-width: 0 4px 6px 4px;
	}
	#scrollBar #down {
		border-width: 6px 4px 0 4px
	}
}
/* EXPANDED CSS */
	
#footer2 {
	bottom: 0px;
	width: 400px;
	height: 66px;
	position: absolute;
	background-color: #3d2472;
	display: inline-block;
}
#footer2 p {
	padding: 6px 0 0 7px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFF;
	text-align: center;
	top: 10px;
}
#footer2 p a {
	text-decoration: none;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: underline;
	letter-spacing: .2px;
	left: 108px;
	position: absolute;
	margin-top: 4px;
}
#tab1_btn {
	width: 126px;
	height: 29px;
	left: 0px;
	background-color: rgba(0,0,0,0);
	position: absolute;
	z-index: 901;
	cursor: pointer;
}
#tab2_btn {
	width: 152px;
	height: 29px;
	left: 130px;
	background-color: rgba(0,0,0,0);
	position: absolute;
	z-index: 901;
	cursor: pointer;
}
#learn_how {
	width: 99px;
	height: 19px;
	left: 150px;
	top: 406px;
	position: absolute;
	z-index: 1001;
	cursor: pointer;
}
#learn_more {
	width: 99px;
	height: 19px;
	left: 150px;
	top: 406px;
	position: absolute;
	z-index: 1002;
	cursor: pointer;
	display: none;
}
#visit_site {
	width: 48px;
	height: 14px;
	left: 82px;
	top: 349px;
	position: absolute;
	z-index: 901;
	cursor: pointer;
}
#learnHow {
	position: absolute;
	top: 301px;
	left: 150px;
	z-index: 902;
	cursor: pointer;
	opacity: 0;
}
#learnMore {
	position: absolute;
	top: 301px;
	left: 146px;
	z-index: 902;
	cursor: pointer;
	opacity: 0;
}
ul {
	margin-left: 7px;
	margin-top: 0px;
	padding-left: 0px;
	list-style: none;
}
#bullet {
	position: absolute;
	margin-left: -7px;
	margin-right: 0px;
	margin-top: 4px;
	width: 4px;
	height: 3px;
}
/* ISI */
#openISI2.display {
	display: block
}
#ISI2 {
	position: absolute;
	top: 333px;
	left: 0;
	width: 400px;
	height: 200px;
	z-index: 3;
	background-color: #e0e0e0;
}
#scrollContainer2 { /*extend to hide the default scroll*/
	width: 402px;
	height: 196px;
	position: absolute;
	top: -6px;
	left: 7px;
	overflow-y: scroll;
	overflow-x: hidden;
	transition: .6s ease-out;
}
#textWrapper2 {
	position: absolute;
	top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	color: #000;
	font-size: 12px;
	line-height: 14px;
	width: 380px;/*    background-color: bisque*/
	
}
#scrollContainer2 p {
	width: 372px;
	min-height: 6px;
}
#scrollMask2 {
	width: 382px;
	height: 196px;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden
}
#scrollwrapper2 {
	border-left: 1px solid #d6d6d6;
	position: absolute;
	top: 0px;
	right: 2px;
	height: 199px;
	width: 12px;
}
#scrollBar2 {
	position: absolute;
	top: 1px;
	left: 2px;
	height: 170px;
	width: 8px;
	background-color: #e1e1e1;
	margin-top: 7px;
	margin-bottom: 7px;
}
#scrollBar2 #up2, #scrollBar2 #down2 {
	position: absolute;
	top: 173px;
	left: 0;
	margin-bottom: 2px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 4px 6px 4px;
	border-color: transparent transparent #a1a1a1 transparent;
}
#scrollBar2 #down2 {
	/* top: auto; */
	bottom: -12px;
	margin-bottom: 0;
	margin-top: 9px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 4px 0 4px;
	border-color: #a1a1a1 transparent transparent transparent;
}
#scrollBar2 #knob2 {
	background-color: #acacac;
	position: absolute;
	top: 0px;
	left: 1px;
	height: 20px;
	width: 6px;
	cursor: pointer;
	z-index: 999999;
	border-radius: 5px;
	opacity: 0.5;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	#scrollBar2 #up2 {
		border-width: 0 4px 6px 4px;
	}
	#scrollBar2 #down2 {
		border-width: 6px 4px 0 4px
	}
}
