<head>
    <title>Mc Donalds</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <iframe src="http://www.google.com/doubleclick/studio/ua/externalpreview#zmED-U1uRvOjoND5mUjEfQ"/>
</body>