
body, body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  color: #333;
}


#main-container {
  position: absolute;
  width: 728px;
  height: 400px;
  box-sizing: border-box;
  top: 0;
  left: 0;
}

#collapsed-state {
  position: absolute;
  top: 0;
  left: 0;
  width: 728px;
  height: 90px;
  z-index: 100;
  cursor: pointer;
  text-align: center;
  /*background-color: #EEE;*/
  border: 1px solid black;
  box-sizing: border-box;
  background: #fff;
}

#expanded-state {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
 /* background-color: #F1F1F1;*/
  z-index: 200;
  border: 1px solid black;
  display: none;
  overflow: hidden;
  background: #fff;
}

#expanded-exit {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  cursor: pointer;
  /* IE10 needs a background color otherwise he won't capture clicks */
  background-color: #FFF;
  opacity: 0;
  z-index: 400;
  display: none;
}

#collapsed-exit {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  cursor: pointer;
  /* IE10 needs a background color otherwise he won't capture clicks */
  /*background-color: #FFF;*/
  opacity: 0;
  z-index: 400;
  display: none;
}

.button {
  position: absolute;
  color: #FFF;
  background-color: #339933;
  border: 1px outset #333;
  cursor: pointer;
  padding: 5px 10px;
  z-index: 500;
  font-family: Arial, sans-serif;
  font-size: 10pt;
}

#expand-button {
  bottom: 5px;
  right: 5px;
  display: none;
}

#collapse-button {
  top: 5px;
  right: 5px;
  display: none;
}

.feature-collapsed {
  top: 10px;
  left: 318px;
  width: 92.44444444444444px;
  height: 70px;
  position: absolute;
}

.feature-expanded {
/*  top: 37px;
  left: 91px;
  width: 546px;
  height: 325.125px;
  position: absolute;*/
    width: 100%;
    height: 100%;
    position: absolute;
}
#main-img-1 {
    width: 100%;
    height: 100%;
}

:focus {
  outline:none;
}
::-moz-focus-inner {
  border:0;
}

/*DOUBLECLICK END*/
html, body, div, span, applet, object, iframe,  h1, h2, h3, h4, h5, h6, p, blockquote, pre,  a, abbr, acronym, address, big, cite, code,  del, dfn, em, img, ins, kbd, q, s, samp,  small, strike, strong, sub, sup, tt, var,  b, u, i, center,  dl, dt, dd, ol, ul, li,  fieldset, form, label, legend,  table, caption, tbody, tfoot, thead, tr, th, td,  article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary,  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,  footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,  q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    background: transparent;
    height: 100%;
}
@font-face {
    font-family: DINE;
    src: url(DINEngschriftStd.otf);
}
@font-face {
    font-family: avenir;
    src: url(Avenir.ttc);
}
#ad-728x90 {
    background: #fff;
    width: 726px;
    min-height: 88px;
    border: 1px #000 solid;
    position: absolute;
    cursor: pointer;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

#bgFixed, #bgFixed2 {
    width: 727px;
    height: 49px;
    overflow: hidden;
    background: #335642;
    position: absolute;
    top: -58px;
}
.tittle-top {
    background: url("sprite-all-objects.png") no-repeat;
    background-position: 0 0;
    text-indent: -99999px;
    height: 36px;
    width: 43%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 5px;
}
.content-objects {
    overflow: hidden;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}
.content-objects .object-1 {
    width: 129px;
    height: 51px;
    overflow: hidden;
    position: absolute;
    top: 100px;
    left: 35px;
    background: url("sprite-all-objects.png") no-repeat #939598;
    background-position: -6px -62px;
}
.content-objects .object-2 {
    width: 129px;
    height: 51px;
    overflow: hidden;
    position: absolute;
    top: 100px;
    left: 195px;
    background: url("sprite-all-objects.png") no-repeat;
    background-position: -12px -138px;
}
.content-objects .object-3 {
    width: 129px;
    height: 51px;
    overflow: hidden;
    position: absolute;
    top: 100px;
    left: 320px;
    background: url("sprite-all-objects.png") no-repeat;
    background-position: -6px -219px;
}
.content-objects .object-4 {
    width: 129px;
    height: 51px;
    overflow: hidden;
    position: absolute;
    top: 100px;
    left: 409px;
    background: url("sprite-all-objects.png") no-repeat;
    background-position: 1px -309px;
}
.content-objects .object-5 {
    width: 129px;
    height: 83px;
    overflow: hidden;
    position: absolute;
    top: 100px;
    left: 559px;
    background: url("sprite-all-objects.png") no-repeat;
    background-position: -59px -407px;
        z-index: 999;
}
.feature-expanded .content-metrics {
    width: 40%;
    height: 63%;
    position: relative;
    margin: 0 auto;
    top: 115px;
    overflow: hidden;
}
.feature-expanded .content-metrics .metric {
    background-color: #0D553F;
    height: 0;
    width: 72px;
    position: absolute;
    bottom: 0;
    font-family: DINE;
    font-size: 24px;
    font-weight: normal;
}
.feature-expanded .content-metrics .metric .numbre-changes {
    text-align: center;
    margin: 10px auto 0;
    color: #fff;
}
.tittle-top {
    top: 9px;
}
.feature-expanded .content-metrics .metric-1 {
    left: 0
}
.feature-expanded .content-metrics .metric-2 {
    left: 0;
    right: 0;
    margin: 0 auto;
}
.feature-expanded .content-metrics .metric-3 {
    right: 0
}
.feature-expanded #bgFixed2 {
    top: -12px;
}
.feature-expanded .object-1 {
    top: 28px;
}
.feature-expanded .object-2 {
    top: 38px;
}
.feature-expanded .object-3 {
    top: 39px;
}
.feature-expanded .object-4 {
    top: 39px;
}

.bottom-text {
    text-align: right;
    margin-top: 130px;
    width: 70%;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.74);
    font-family: avenir;
}

.btn_click-img {
position: absolute;
    bottom: 0;
    right: 50px;
    background: url("sprite-all-objects.png") no-repeat;
    background-position: -37px -577px;
    height: 160px;
    width: 159px;
    transition: all 0.5s;
    z-index: 999;
}
.btn_click-img.rollOver {
    transform: scale(1.1);
    transition: all 0.5s;
}
/*GUIDES POSITION*/
.guide1 {
    position: absolute;
    top: 0px;
    left: 750px;
    border: solid 1px #000;
    width: 726px;
    height: 88px;
}
.guide2 {
    position: absolute;
    left: 0px;
    top: 415px;
    border: solid 1px #000;
    width: 726px;
}
/*GUIDES POSITION*/


#clickTagGeneral {
    width: 728px;
    min-height: 90px;
    float: left;
}