@charset "UTF-8";
/* CSS Document */

/* Default style, feel free to remove if not needed. */
body, body * {
	vertical-align: baseline;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}

.penCopy{
	position: absolute;
	right: 2px;
	text-align: right;
}


#penCopy1{
	position: absolute;
	right: 5px;
	text-align: right;
	opacity: 1;
	font-size: 8px;
	top: 18px;
}
#penCopy2{
	position: absolute;
	right: 5px;
	text-align: right;
	opacity: 0;
	font-size: 8px;
	top: 18px`;
}

#penCopy1.fadeout {
	opacity: 0;
	transition: .6s ease-in-out;
}
#penCopy2.fadein {
	opacity: 1;
	transition: .6s ease-in-out;
}

#myLogoImg{
	position:absolute;
	top:4px;
	left:4px;	
}

#expand_btn {
    width: 428px;
    height: 90px;
    position: absolute;
    cursor: pointer;
}
#plink1,
#plink2{
	cursor: pointer;
}
#plink2 {
	position: absolute;
	width: 125px;
	height: 26px;
	bottom: 0;
	right: 0;
	z-index: 999;
}
/* Div layer for the entire banner. */
#container_dc {
	position: absolute;
	top: 0px;
	left: 0px;
	margin: auto;
	width:728px;
	height:270px;
}

#close_btn_dc {
	position:absolute;
	top:36px;
	left:4px;
	cursor: pointer;
	width:17px;
	height:18px;
	background-image: url('close.png');
	z-index:600;
}

/*COLLAPSE STATE*/
#content_dc {
	position: absolute;
	width: 726px;
	height: 88px;
	top: 0px;
	left:0px;
	background-color: #FFF;
	z-index: 100;
	background-image: url('bg.png');
	background-repeat:no-repeat;
	border: 1px solid #666;
	overflow:hidden;
}

#expand_content_dc{
	position: absolute;
	width: 726px;
	height: 268px;
/*	border:1px solid #999999;*/
	top: 0px;
	left: 0px;
	background-color: #FFF;
	z-index: 200;
	display:none;
	background-repeat:no-repeat;
	border: 1px solid #666; 
}

/* Invisible button for background clickthrough. */
#expanded_background_exit_dc {
	position: absolute;
	width: 728px;
	height: 185px;
	top: 0px;
	left: 0px;
	cursor: pointer;
	opacity: 0;
	z-index: 400;
    display: none;
	
}


:focus {outline:none;}
::-moz-focus-inner {border:0;}

#legal{
	font-family:Arial, Helvetica, sans-serif;
	font-size:6px;
    font-weight: 700;
	top:322px;
	right:8px;
	position:absolute;
	opacity:0;
	line-height:0px;
	margin:0px;
	padding:0px;
}

#reg{
	font-size: 10px;
	margin-top: -5px;
	line-height: 9px;
	}

sup { vertical-align: top; position: relative; }


#footer{
	width:299px;
	height:30px;
	right:0px;
	background-color:#3d2472;
	z-index:900;
	position:absolute;
    bottom: 0px;
	display:inline-block;
	opacity:0;
	line-height:11px;


	}
	
#footer p {
    padding: 0px 0 0 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #FFF;
    float: left;
    margin: 0px;
    margin-top: -1px;
    line-height: 9px;
}

#footer p a {
    text-decoration: none;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-decoration: underline;
    letter-spacing: .17px;
    right: 3px;
    text-align: right;
    position: absolute;
    line-height: 11px;
    margin-top: 5px;
}

#footer #code {
    margin-top: 1px;
    position: absolute;
    text-align: left;
    letter-spacing: .17px;
    line-height: 9px;
    top: 0px;
    left: 4px;
}


/* Collapsed animation. */
#dotsContainer {
    left: 76px;
    top: 5px;
    position: absolute;
    transform: scale(.68);
    -moz-transform:    scale(.68); /* Firefox */
    -webkit-transform: scale(.68); /* Webkit */
    -o-transform:      scale(.68); /* Opera */
    -ms-transform:     scale(.68); /* IE 9 */
}
#dots { left: 0px; top: 0px; opacity: 0; position:absolute;}
#smallDots { left: 0px; top: 0px; position:absolute;}
#dot1 { left: 16px; top: 16px; opacity: 0;position:absolute; }
#dot2 { left: 27.5px; top: 13px; opacity: 0;position:absolute; }
#dot3 { left: 36px; top: 11px; opacity: 0; position:absolute;}
#dot4 { left: 44px; top: 9px; opacity: 0; position:absolute;}
#dot5 { left: 51px; top: 7px; opacity: 0; position:absolute;}
#dot6 { left: 59px; top: 7px; opacity: 0; position:absolute;}

#rollover {right: 152px; top: 9px; opacity: 1; position:absolute;}
#tougeo {left: 9px; top: 37px; opacity: 0; position:absolute;}
#line1 {left: 200px; top: 40px; opacity: 0; position:absolute;}
#line2 {left: 800px; top: 60px; opacity: 0; position:absolute;}

#logo {left: 9px; top: 37px; opacity: 0; position:absolute;}
#pen {left: 198px; top: 60px; opacity: 0; position:absolute;}

#line3 {left: 730px; top:21px; position:absolute;}
#line4 {left: 730px; top:21px; position:absolute;}


/* FRAME 1*/
#dots.fadein { opacity: 1; transition: .6s ease-in-out; }
#dot1.fadein { opacity: 1; transition: .2s ease-in-out; }
#dot2.fadein { opacity: 1; transition: .2s ease-in-out; }
#dot3.fadein { opacity: 1; transition: .2s ease-in-out; }
#dot4.fadein { opacity: 1; transition: .2s ease-in-out; }
#dot5.fadein { opacity: 1; transition: .2s ease-in-out; }
#dot6.fadein { opacity: 1; transition: .2s ease-in-out; }

#tougeo.fadein {opacity: 1; transition: .6s ease-in-out;}
#line1.fadein {left: 370px; opacity: 1; transition: .6s ease-in-out;}
#line2.fadein {left: 393px; opacity: 1; transition: .6s ease-in-out;}

/*rollOut animation Starts*/
#rollover.fadeout {
    opacity: 1;
    right: 315px;
    top: 0.5px;
    transition: .6s ease-in-out;
    transform: scale(0.83);
}
/*rollOut animation Ends*/

#tougeo.fadeout {opacity: 1;  transition: .6s ease-in-out;} /*this logo stays here for this version*/
#line1.fadeout {opacity: 0; left: 200px;transition: .6s ease-in-out;}
#line2.fadeout {opacity: 0; left: 800px; transition: .6s ease-in-out;}
/*#dotsContainer.fadeout {opacity: 0; transition: .6s ease-in-out; }*/

/*#logo.fadein {opacity: 1; transition: .6s ease-in-out;}*/ /*This logo is necessary in this version*/
#pen.fadein {opacity: 1; transition: .6s ease-in-out;}
#line3.fadein {left: 211px; transition: .6s ease-in-out;}
#legal.fadein {opacity: 1; transition: .6s ease-in-out;}

#footer.fadein {opacity:1; transition: .6s ease-in-out;}
#ISI.fadein {top:0px; transition: .6s ease-in-out;}


#line3.fadeout {left: 730px; transition: .6s ease-in-out;}
#line4.fadein {left: 231px; transition: .6s ease-in-out;}





/* EXPANDED PARAMETERS. */
#tab1 {
    position: absolute;
    cursor: pointer;
}

#tab2 {
    position: absolute;
    cursor: pointer;
}
	
	
	
/* ISI */
#openISI.display {
	display: block
}

#tittle{
	font-size:14px;
	color:#461e6c;
}



#ISI {
	position:absolute;
	top: 100px;
	right: 0;
	width: 299px;
	height: 60px;
	z-index: 3;
	background-color:#e0e0e0;
}


#scrollContainer { /*Extend to hide the default scroll*/
	width: 310px;
	height: 64px;
	position: absolute;
	top: -6px;
	left: 3px;
	overflow-y: scroll;
	overflow-x: hidden;
	transition: .6s ease-out;
}
#textWrapper {
	position: absolute;
	top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	color:#000;
	font-size: 12px;
	line-height: 14px;
	width:275px;	
}
p b{
	color:#000;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	}
#scrollContainer p {
	width: 275px
	
}
#scrollMask {
	width: 285px;
	height: 60px;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden
	
}
#scrollwrapper {
	border-left: 1px solid #d6d6d6;
	position: absolute;
	top: 0px;
	right: 2px;
	height: 59px;
	width: 12px;
}
#scrollBar {
	position: absolute;
	top: -6px;
	left: 5px;
	height: 40px;
	width: 8px;
	background-color:#e1e1e1;
	margin-top: 7px;
	margin-bottom: 7px;
}
#scrollBar #up, #scrollBar #down {
    position: absolute;
    top: 42px;
    left: 0;
    margin-bottom: 2px;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 4px 6px 4px;
    border-color: transparent transparent #a1a1a1 transparent;
}
#scrollBar #down {
    /* top: auto; */
    bottom: -12px;
    margin-bottom: 0;
    margin-top: 9px;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 4px 0 4px;
    border-color: #a1a1a1 transparent transparent transparent;

}
#scrollBar #knob {
	background-color:#acacac;
	position: absolute;
	top: 0px;
	left: 1px;
	height: 20px;
	width: 6px;
	cursor: pointer;
	z-index: 999999;
	border-radius:5px;
	opacity:0.5;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
	#scrollBar #up {
		border-width: 0 4px 6px 4px;
	}
	#scrollBar #down {
		border-width: 6px 4px 0 4px
	}
}


/* EXPANDED CSS */
	
#footer2{
	bottom:0px;
	width:728px;
	height:29px;
	position:absolute;
	background-color:#3d2472;
	display:inline-block;

}

#footer2 p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#FFF;
}
#footer2 p a {
	text-decoration:none;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	text-decoration:underline;
    text-align: right;
    letter-spacing: .22px;
	right: 10px;
	position:absolute;
	top:3px;	
}

.code2{
    position: relative;
    top: -14px;
    left: 10px;
    letter-spacing: .05px;
    line-height: 1;
}
	
#tab1_btn{
	width:128px;
	height:29px;
	left:0px;
    background-color: rgba(0,0,0,0);
	position:absolute;

	z-index:901;
	cursor:pointer;
	}

#tab2_btn{
	width:162px;
	height:29px;
	left:130px;
	background-color: rgba(0,0,0,0);
	position:absolute;

	z-index:901;
	cursor:pointer;
	}

#learn_how {
    width: 99px;
    height: 19px;
    left: 76px;
    top: 155px;
    position: absolute;
    z-index: 1001;
    cursor: pointer;
}

#learn_more {
    width: 99px;
    height: 19px;
    left: 76px;
    top: 155px;
    position: absolute;
    z-index: 1002;
    cursor: pointer;
    display:none;
}

#visit_site{
	width:48px;
	height:14px;
	left: 311px;
	top: 158px;
	position:absolute;

	z-index:901;
	cursor:pointer;
	}
	
#learnHow{
	position:absolute;
	top:155px;
	left:76px;
	z-index:902;
    cursor: pointer;
	opacity:0;
	
}
#learnMore{
	position:absolute;
	top: 131px;
	left: 69px;
	z-index:902;
    cursor: pointer;
	opacity:0;

	}

ul{
	margin-left:7px;
	margin-top:0px;
	padding-left:0px;
	list-style:none;
	}

#bullet {
	position:absolute;
	margin-left:-7px;
	margin-right:0px;
	margin-top:4px;
	width:4px;
	height:3px;
	}

/* ISI */
	#openISI2.display {
	display: block
}



#ISI2 {
	position:absolute;
	top: 155px;
	left: 0;
	width: 728px;
	height: 84px;
	z-index: 3;
	background-color:#e0e0e0; 
}


#scrollContainer2 { /*extend to hide the default scroll*/
	width: 735px;
	height: 82px;
	position: absolute;
	top: -6px;
	left: 7px;
	overflow-y: scroll;
	overflow-x: hidden;
	transition: .6s ease-out;
}

#textWrapper2 {
	position: absolute;
	top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	color: #000;
	font-size: 12px;
	line-height: 14px;
	width:708px;
/*    background-color: bisque*/
	
}
#scrollContainer2 p {
	width: 700px;
/*    background-color: aqua;*/
	
}
#scrollMask2 {
	width: 708px;
	height: 82px;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden
	
}
#scrollwrapper2 {
	border-left: 1px solid #d6d6d6;
	position: absolute;
	top: 0px;
	right: 2px;
	height: 82px;
	width: 12px;
}
#scrollBar2 {
	position: absolute;
	top: -5px;
	left: 2px;
	height: 73px;
	width: 8px;
	background-color:#e1e1e1;
	margin-top: 7px;
	margin-bottom: 7px;
}
#scrollBar2 #up2, #scrollBar2 #down2 {
    position: absolute;
    top: 60px;
    left: 0;
    margin-bottom: 2px;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 4px 6px 4px;
    border-color: transparent transparent #a1a1a1 transparent;
}
#scrollBar2 #down2 {
    /* top: auto; */
    bottom: -12px;
    margin-bottom: 0;
    margin-top: 9px;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 4px 0 4px;
    border-color: #a1a1a1 transparent transparent transparent;
}

#scrollBar2 #knob2 {
	background-color:#acacac;
	position: absolute;
	top: 0px;
	left: 1px;
	height: 20px;
	width: 6px;
	cursor: pointer;
	z-index: 999999;
	border-radius:5px;
	opacity:0.5;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
	#scrollBar2 #up2 {
		border-width: 0 4px 6px 4px;
	}
	#scrollBar2 #down2 {
		border-width: 6px 4px 0 4px
	}
}



	
	
