@font-face {
    font-family: 'Helvetica';
    font-weight: 100;
    src: url('../fonts/Helvetica.ttf');
}

.header{
    height: 130px;
    background: url(../img/diju-icon.png) no-repeat center center;
}

.nav{
    margin: 10px 0 0 -8px;
    position:absolute;
    height: 65px;
    width: 100%;
    background: #d86743;
    background: url("../img/bg_diju.png") #d86743;
    text-align: center;
}
.nav h1{
    margin: auto;
    line-height: 67px;
    font-family: 'Helvetica' sans-serif;
    color: #fff;
    font-size: 26px;
    font-weight: 100;
}

.four-items{
    width: 900px;
    margin: 120px auto 0 auto;
    display:block;
    list-style-type: none;
}

.four-items li{
    display: inline-block;
    padding-left: 15px;
    text-align: center;
}
.four-items li:first-child{
    padding-left: 0;
}

.four-items li a{
    font-family: 'Helvetica' sans-serif;
    color: #706e6e;
    text-decoration: none;
    text-align:center;
    font-size: 13px;
}

.three-items{
    width: 700px;
    margin: 30px auto 0 auto;
    display:block;
    list-style-type: none;
}

.three-items li{
    display: inline-block;
    padding-left: 15px;
    text-align: center;
}
.three-items li:first-child{
    padding-left: 0;
}

.three-items li a{
    display: block;
    font-family: 'Helvetica' sans-serif;
    color: #706e6e;
    text-decoration: none;
    font-size: 13px;
}

.footer{
    content: "";
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 65px;
    display: block;
    background: url(../img/diju-footer-icon.png) no-repeat center 6px;
    background-color: #353535;
    left: 0;
}

.footer h1{
    font-family: 'Helvetica' sans-serif;
    color: #c99625;
    font-size: 12px;
    line-height: 93px;
    text-align: center;
    font-weight: 100;
}

iframe{
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    width:100%;
    height:200%;
    border:none;
    margin:0;
    padding:0;
    overflow:hidden;
    z-index:999999;
}

@media screen and (min-width: 1025px){
    iframe {
        margin-top: -146px;
    }
}
@media only screen and (min-width : 768px) and (max-width : 1024px){
    iframe {
        margin-top: -180px;
    }
}
@media only screen and (min-width : 481px) and (max-width : 767px) {
    iframe {
        margin-top: -224px;
    }
}
@media only screen and (min-width : 320px) and (max-width : 480px) {
    iframe {
        margin-top: -327px;
    }
}