@charset "UTF-8";
/* CSS Document */

/* Default style, feel free to remove if not needed. */
body, body * {
	vertical-align: baseline;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}


.penCopy{
	position: absolute;
	right: 2px;
	text-align: right;
}


#penCopy1{
	position: absolute;
	right: 5px;
	text-align: right;
	opacity: 1;
	font-size: 8px;
}
#penCopy2{
	position: absolute;
	right: 5px;
	text-align: right;
	opacity: 0;
	font-size: 8px;
}

#penCopy1.fadeout {
	opacity: 0;
	transition: .6s ease-in-out;
}
#penCopy2.fadein {
	opacity: 1;
	transition: .6s ease-in-out;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	sup {
		top: -2px;
	}
}



#myLogoImg{
	position:absolute;
	top:4px;
	left:4px;
}

#expand_btn {
	width: 250px;
	height: 465px;
	position: absolute;
	cursor: pointer;
	margin-left: 50px;
}

/* Div layer for the entire banner. */
#container_dc {
	position: absolute;
	top: 0px;
	left: 0px;
	margin: auto;
	width:500px;
	height:600px;
}

#close_btn_dc {
	position:absolute;
	top:36px;
	right:4px;
	cursor: pointer;
	width:17px;
	height:18px;
	background-image: url('close.png');
	z-index:600;
}
#plink1,
#plink2{
	cursor: pointer;
}
/*COLLAPSE STATE*/
#content_dc {
	position: absolute;
	width: 298px;
	height: 598px;
	top: 0px;
	//left:200px;
	background-color: #FFF;
	z-index: 100;
	background-image: url('bg.png');
	background-repeat:no-repeat;
	border: 1px solid #666;
	overflow:hidden;
}

#expand_content_dc{
	position: absolute;
	width: 500px;
	height: 598px;
	border:1px solid #999999;
	top: 0px;
	left: 0px;
	background-color: #FFF;
	z-index: 200;
	display:none;
	background-repeat:no-repeat;
	border: 1px solid #666;
}

/* Invisible button for background clickthrough. */
#expanded_background_exit_dc {
	position: absolute;
	width: 500px;
	height: 465px;
	top: 0px;
	left: 0px;
	cursor: pointer;
	opacity: 0;
	z-index: 400;
    display: none;

}


:focus {outline:none;}
::-moz-focus-inner {border:0;}

#legal{
	font-family:Arial, Helvetica, sans-serif;
	font-size:6px;
    font-weight: 700;
	top:322px;
	right:8px;
	position:absolute;
	opacity:0;
	line-height:0px;
	margin:0px;
	padding:0px;
}

#reg{
font-size: 10px;
margin-top: -5px;
line-height: 9px;
	}

sup { vertical-align: top; position: relative; }


#footer{
	width:300px;
	height:50px;
	bottom:0px;
	background-color:#3d2472;
	z-index:900;
	position:absolute;
	display:inline-block;
	opacity:0;
	line-height:11px;
	text-align: center;
}

#footer p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #FFF;
    float: left;
    margin-top: -1px;
    line-height: 9px;
	text-align: center;
}

#footer p a {
	color: #FFF;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 10px;
	text-decoration: underline;
	letter-spacing: 0.2px;
	left: 0;
	text-align: center;
	position: absolute;
	line-height: 11px;
	margin-top: 8px;
	width: 100%;
}

#footer #code {
	margin-top: 2px;
	position: absolute;
	text-align: center;
	letter-spacing: 0.22px;
	line-height: 11px;
	top: 20px;
	width: 100%;
}

/* Collapsed animation. */
#dotsContainer {
    left: 122px;
    top: 58px;
    position: absolute;
}
#dots { left: 0px; top: 0px; opacity: 0; position:absolute;}
#smallDots { left: 0px; top: 0px; position:absolute;}
#dot1 { left: 16px; top: 16px; opacity: 0;position:absolute; }
#dot2 { left: 27.5px; top: 13px; opacity: 0;position:absolute; }
#dot3 { left: 36px; top: 11px; opacity: 0; position:absolute;}
#dot4 { left: 44px; top: 9px; opacity: 0; position:absolute;}
#dot5 { left: 51px; top: 7px; opacity: 0; position:absolute;}
#dot6 { left: 59px; top: 7px; opacity: 0; position:absolute;}

#tougeo {left: 27px;  top: 105px; opacity: 0; position:absolute;}
#line1 {left: -300px; top: 200px; position:absolute;}
#line2 {left: 400px; top: 232px; position:absolute;}

#logo {left: 5px; top: 107px; opacity: 0; position:absolute;}
#pen {left: 27px; top: 271px; opacity: 0; position:absolute;}

#line3_a {left: -300px; top:200px; position:absolute;}
#line3_b {left: 400px; top:232px; position:absolute;}
#line4_a {left: 400px; top:200px; position:absolute;}
#line4_b {left: -400px; top:232px; position:absolute;}


/* FRAME 1*/
#dots.fadein { opacity: 1; transition: .6s ease-in-out; }
#dot1.fadein { opacity: 1; transition: .2s ease-in-out; }
#dot2.fadein { opacity: 1; transition: .2s ease-in-out; }
#dot3.fadein { opacity: 1; transition: .2s ease-in-out; }
#dot4.fadein { opacity: 1; transition: .2s ease-in-out; }
#dot5.fadein { opacity: 1; transition: .2s ease-in-out; }
#dot6.fadein { opacity: 1; transition: .2s ease-in-out; }

#tougeo.fadein {opacity: 1; transition: .6s ease-in-out;}
#line1.fadein {left: 29px; transition: .6s ease-in-out;}
#line2.fadein {left: 61px; transition: .6s ease-in-out;}

#tougeo.fadeout {opacity: 1;  transition: .6s ease-in-out;} /*this logo stays here for this version*/
#line1.fadeout {opacity: 0; left: 29px;transition: .6s ease-in-out;}
#line2.fadeout {opacity: 0; left: 61px; transition: .6s ease-in-out;}
/*#dotsContainer.fadeout {opacity: 0; transition: .6s ease-in-out; }*/

/*#logo.fadein {opacity: 1; transition: .6s ease-in-out;}*/ /*This logo is necessary in this version*/
#pen.fadein {opacity: 1; transition: .6s ease-in-out;}
#line3_a.fadein {left: 29px; transition: .6s ease-in-out;}
#line3_b.fadein {left: 61px; transition: .6s ease-in-out;}
#legal.fadein {opacity: 1; transition: .6s ease-in-out;}

#footer.fadein {opacity:1; transition: .6s ease-in-out;}
#ISI.fadein {top:351px; transition: .6s ease-in-out;}


#line3_a.fadeout {left: 300px; transition: .6s ease-in-out;}
#line3_b.fadeout {left: -400px; transition: .6s ease-in-out;}
#line4_a.fadein {left: 96px; transition: .6s ease-in-out;}
#line4_b.fadein {left: 42px; transition: .6s ease-in-out;}





/* EXPANDED PARAMETERS. */
#tab1 {
    position: absolute;
    cursor: pointer;
	z-index: 1;
}

#tab2 {
    position: absolute;
    cursor: pointer;
	z-index: 1;
}

/* ISI */
#openISI.display {
	display: block
}

#tittle{
	font-size:14px;
	color:#461e6c;
}



#ISI {
	position:absolute;
	top: 630px;
	left: 0;
	width: 300px;
	height: 198px;
	z-index: 3;
	background-color:#e0e0e0;


}


#scrollContainer { /*Extend to hide the default scroll*/
	width: 310px;
	height: 202px;
	position: absolute;
	top: -6px;
	left: 3px;
	overflow-y: scroll;
	overflow-x: hidden;
	transition: .6s ease-out;
}
#textWrapper {
	position: absolute;
	top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	color:#000;
	font-size: 12px;
	line-height: 14px;
	width:285px;
}

#textWrapper ul li {
	width: 267px;
}


p b{
	color:#000;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	}
#scrollContainer p {
	width: 283px

}
#scrollMask {
	width: 300px;
	height: 199px;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden

}
#scrollwrapper {
	border-left: 1px solid #d6d6d6;
	position: absolute;
	top: 0px;
	right: 2px;
	height: 198px;
	width: 12px;
}
#scrollBar {
	position: absolute;
	top: 0px;
	left: 2px;
	height: 172px;
	width: 8px;
	background-color:#e1e1e1;
	margin-top: 7px;
	margin-bottom: 7px;
}
#scrollBar #up, #scrollBar #down {
    position: absolute;
    top: 174px;
    left: 0;
    margin-bottom: 2px;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 4px 6px 4px;
    border-color: transparent transparent #a1a1a1 transparent;
}
#scrollBar #down {
    /* top: auto; */
    bottom: -12px;
    margin-bottom: 0;
    margin-top: 9px;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 4px 0 4px;
    border-color: #a1a1a1 transparent transparent transparent;

}
#scrollBar #knob {
	background-color:#acacac;
	position: absolute;
	top: 0px;
	left: 1px;
	height: 20px;
	width: 6px;
	cursor: pointer;
	z-index: 999999;
	border-radius:5px;
	opacity:0.5;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	#scrollBar #up {
		border-width: 0 4px 6px 4px;
	}
	#scrollBar #down {
		border-width: 6px 4px 0 4px
	}
}


/* EXPANDED CSS */

#footer2{
	bottom:0px;
	width:500px;
	height:56px;
	position:absolute;
	background-color:#3d2472;
	display:inline-block;

}

#footer2 p{

	padding:4px 0 0 15px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#FFF;
    text-align: center;
    top: 10px;

}
#footer2 p a {
	text-decoration:none;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	text-decoration:underline;
    letter-spacing: .2px;
	left:156px;
	position:absolute;
	margin-top:4px;
}

#tab1_btn{
	width:159px;
	height:29px;
	left:0px;
	position:absolute;
	z-index:950;
	cursor:pointer;
	background-color: rgba(0,0,0,0);
	}

#tab2_btn{
	width:160px;
	height:29px;
	left:159px;
	position:absolute;
	z-index:950;
	cursor:pointer;
	background-color: rgba(0,0,0,0);
	}

#learn_how {
    width: 105px;
    height: 19px;
    left: 200px;
    top: 406px;
    position: absolute;
    z-index: 1001;
    cursor: pointer;
}

#learn_more {
    width: 99px;
    height: 19px;
    left: 203px;
    top: 406px;
    position: absolute;
    z-index: 1002;
    cursor: pointer;
    display:none;
}

#visit_site{
	width: 48px;
	height: 14px;
	left: 132px;
	top: 349px;
	position:absolute;

	z-index:901;
	cursor:pointer;
}

#learnHow{
	position:absolute;
	top:317px;
	left:200px;
	z-index:902;
    cursor: pointer;
	opacity:0;

	}
#learnMore{
	position:absolute;
	top:317px;
	left:196px;
	z-index:902;
    cursor: pointer;
	opacity:0;

}

ul{
	margin-left:7px;
	margin-top:0px;
	padding-left:0px;
	list-style:none;
	}

#bullet {
	position:absolute;
	margin-left:-7px;
	margin-right:0px;
	margin-top:4px;
	width:4px;
	height:3px;
	}

/* ISI */
	#openISI2.display {
	display: block
}



#ISI2 {
	position:absolute;
	top: 351px;
	left: 0;
	width: 500px;
	height: 192px;
	z-index: 3;
	background-color:#e0e0e0;
}


#scrollContainer2 { /*extend to hide the default scroll*/
	width: 510px;
	height: 198px;
	position: absolute;
	top: -6px;
	left: 7px;
	overflow-y: scroll;
	overflow-x: hidden;
	transition: .6s ease-out;
}

#textWrapper2 {
	position: absolute;
	top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	color: #000;
	font-size: 12px;
	line-height: 14px;
	width:480px;
/*    background-color: bisque*/

}
#scrollContainer2 p {
	width: 470px;
 /*  background-color: aqua;*/

}
#scrollMask2 {
	width: 485px;
	height: 192px;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden

}
#scrollwrapper2 {
	border-left: 1px solid #d6d6d6;
	position: absolute;
	top: 0px;
	right: 2px;
	height: 181px;
	width: 12px;
}
#scrollBar2 {
	position: absolute;
	top: 1px;
	left: 2px;
	height: 160px;
	width: 8px;
	background-color:#e1e1e1;
	margin-top: 7px;
	margin-bottom: 7px;
}
#scrollBar2 #up2, #scrollBar2 #down2 {
    position: absolute;
    top: 162px;
    left: 0;
    margin-bottom: 2px;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 4px 6px 4px;
    border-color: transparent transparent #a1a1a1 transparent;
}
#scrollBar2 #down2 {
    /* top: auto; */
    bottom: -12px;
    margin-bottom: 0;
    margin-top: 9px;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 4px 0 4px;
    border-color: #a1a1a1 transparent transparent transparent;
}

#scrollBar2 #knob2 {
	background-color:#acacac;
	position: absolute;
	top: 0px;
	left: 1px;
	height: 20px;
	width: 6px;
	cursor: pointer;
	z-index: 999999;
	border-radius:5px;
	opacity:0.5;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	#scrollBar2 #up2 {
		border-width: 0 4px 6px 4px;
	}
	#scrollBar2 #down2 {
		border-width: 6px 4px 0 4px
	}
}
