@charset "UTF-8";

#ad {
	width: 298px;
	height:	248px;
	border: 1px solid #111111;
	background: url(bg.jpg);
	overflow: hidden;
	position: relative;
}

#clicktag {
	width: 300px;
	height:	250px;
	opacity: 0.3;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	cursor: pointer;
}

#main_content {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	color: #a9aaac;
}

#brand {
	position: absolute;
	top: 12px;
	right: 12px;
}

.text {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
}

#text1 {
	top: 54px;
}

#text2-1, #text3-1 {
	top: 49px;
	left: -500px;
}

#text2-2, #text3-2 {
	top: 68px;
	left: -500px;
}

#legal {
	bottom: 7px;
}

#devices {
	background: url(devices.png);
	width: 235px;
	height: 124px;
	position: absolute;
	top: 89px;
	left: 33px;
}

#ff-title {
	display: block;
	top: 62px;
	opacity: 0;
}

#cta {
	position: absolute;
	right: 16px;
	bottom: 18px;
	z-index: 3;
	cursor: pointer;
	opacity: 0;
}

#cta:hover #arrow {
	right: 8px;
}

#arrow {
	display: block;
	position: absolute;
	top: 6px;
	right: 12px;

	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

#offer {
	position: absolute;
	top: 106px;
	left: 0;
	right: 0;
	margin: 0 auto;
	opacity: 0;
}

#phone {
	position: absolute;
	bottom: 24px;
	left: 15px;
	opacity: 0;
	display: block;
}

#hands {
    position: absolute;
    top: 250px;
    left: 79px;
}

#hand-1 {
	width: 80px;
	height: 133px;
	position: absolute;
	background: url(hand1.png);
	left: 58px;
    top: 16px;
    z-index: 3;
    opacity: 0;
}

#hand-2 {
	width: 99px;
	height: 151px;
	position: absolute;
	background: url(hand2.png);	
	left: 47px;
    z-index: 3;
    opacity: 0;
}

#hand-3 {
	width: 112px;
	height: 166px;
	position: absolute;
	background: url(hand3.png);
    left: -6px;
    z-index: 1;
    top: -16px;
    opacity: 0;
}

#hand-4 {
	width: 51px;
	height: 140px;
	position: absolute;
	background: url(hand4.png);	
    left: 31px;
    z-index: 4;
    top: 17px;
    opacity: 0;
}

.images-sprite, .images-arrow, .images-badge, .images-button, .images-ff-title, .images-legal, .images-logo, .images-phonenumber, .images-text1, .images-text2-1, .images-text2-2, .images-text3-1, .images-text3-2 {
  background-image: url('sprite.png');
  background-repeat: no-repeat;
}

.images-arrow {
  background-position: 0 0;
  height: 8px;
  width: 6px;
}

.images-badge {
  background-position: 0 -8px;
  height: 76px;
  width: 246px;
}

.images-button {
  background-position: 0 -84px;
  height: 20px;
  width: 100px;
}

.images-ff-title {
  background-position: 0 -104px;
  height: 15px;
  width: 185px;
}

.images-legal {
  background-position: 0 -119px;
  height: 16px;
  width: 204px;
}

.images-logo {
  background-position: 0 -135px;
  height: 22px;
  width: 68px;
}

.images-phonenumber {
  background-position: 0 -157px;
  height: 11px;
  width: 100px;
}

.images-text1 {
  background-position: 0 -168px;
  height: 14px;
  width: 205px;
}

.images-text2-1 {
  background-position: 0 -182px;
  height: 14px;
  width: 167px;
}

.images-text2-2 {
  background-position: 0 -196px;
  height: 14px;
  width: 112px;
}

.images-text3-1 {
  background-position: 0 -210px;
  height: 14px;
  width: 182px;
}

.images-text3-2 {
  background-position: 0 -224px;
  height: 12px;
  width: 200px;
}