html, body {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

img {
    position: absolute;
    margin: 0;
    padding: 0;
    border: 0;
}

#ad-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 320px;
    height: 599px;
    overflow: hidden;
    /*cursor: pointer;*/;
}

.dir-tl {
    left: 0px;
    top: 0px;
}

.dir-tr {
    left: 0px;
    top: 0px;
}

.dir-bl {
    left: 0px;
    top: 0px;
}

.dir-br {
    left: 0px;
    top: 0px;
}

#viewport {
    position: absolute;
}

.collapse-viewport {
    top: 1px;
    left: 1px;
    width: 158px;
    height: 598px;
    background-color: #99d3e8;
    background-image: url('bg.png');
    background-repeat: no-repeat;
    overflow: hidden;
}

#collapse_container_dc {
    width: 160px;
    height: 600px;
}

#wrapper {
    width: 158px;
    height: 598px;
    overflow: hidden;
    border: solid 1px;
}
/*#border{
	position:absolute;
	top: 0px;
	left: 0px;
	width:298px;
	height:248px;
	overflow:hidden;

	}*/

#loading_dc {
    width: 160px;
    height: 600px;
    background-color: white;
}

#loading_image_dc {
    position: absolute;
    left: 65px;
    top: 290px;
}

#bgExit {
    position: absolute;
    left: 0;
    top: 0;
    width: 160px;
    height: 600px;
}

#Anim {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 160px;
    height: 600px;
    overflow: hidden;
}

#copy1 {
    top: 159px;
    left: -1px;
}

#copy2 {
    top: 113px;
    left: 0px;
}

#copy3 {
    top: 32px;
    left: 97px;
}

#inhaler1 {
    top: 47px;
    left: 0px;
}

#inhaler2 {
    top: 47px;
    left: 0px;
}

#inhaler3 {
    top: 47px;
    left: 0px;
}

#inhaler4 {
    top: 47px;
    left: 0px;
}

#hand {
    top: 1px;
    left: -3px;
}

#face {
    top: -20px;
    left: -32px;
}

#dragger {
    position: absolute;
    top: 267px;
    left: -18px;
}

#dragRail {
    position: relative;
    background-image: url(bar.png);
    width: 135px;
    height: 6px;
    top: 7px;
    left: 27px;
}

#barMask {
    position: absolute;
    border-radius: 15px;
    width: 135px;
    height: 6px;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

#bar {
    position: absolute;
    background: #868586;
    border-radius: 15px;
    width: 249px;
    height: 6px;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

#knob {
    position: absolute;
    width: 82px;
    height: 30px;
    top: -10px;
    left: 0px;
    background-image: url(slider.png);
    background-repeat: no-repeat;
}

#logo {
    position: absolute;
    top: 203px;
    left: 42px;
}

#ctaContainer {
    display: none;
    position: absolute;
    top: 261px;
    left: 24px;
    z-index: 5;
    width: 135px;
    height: 35px;
}

#btn {
    left: 0px;
    top: 0px;
    width: 112px;
    height: 35px;
    border: 0;
    padding: 0;
    margin: 0;
}

#shimmerMask {
    position: absolute;
    top: 5px;
    right: 1px;
    left: 1px;
    bottom: 1px;
    width: 106px;
    border: 0;
    height: 25px;
    border-radius: 10px;
    margin: 0;
    overflow: hidden;
}

#shimmer {
    position: absolute;
    opacity: 0;
    top: -50px;
    left: -45px;
    width: 35px;
    height: 100px;
    transform: rotate(45deg);
    background: linear-gradient(to right, rgba(255,255,255,0) 0, rgba(255,255,255,.5) 50%, rgba(255,255,255,.04) 98%, rgba(255,255,255,0) 100%) /* W3C */;
}
/*#shimmer.on { left: 135px; transition: ease-in-out 0.5s; }*/

#activeArea {
    position: absolute;
    top: 5px;
    right: 1px;
    left: 1px;
    bottom: 1px;
    width: 115px;
    border: 0;
    height: 25px;
    border-radius: 10px;
    margin: 0;
    overflow: hidden;
    cursor: pointer;
    background: url(blank.gif);
}

#replay {
    position: absolute;
    top: 20px;
    right: 7px;
    cursor: pointer;
}

.expand-viewport {
    top: 1px;
    left: 1px;
    width: 498px;
    height: 248px;
}

/*#expand-container-dc{
width: 500px;
height: 250px;
}
*/
/*#expanded-bg{
width: 500px;
height: 250px;
background-image: url('DCRM_HTML5_Expanding_Left_160x600_300x600_expanded.png');
}
*/
#close-button {
    position: absolute;
    left: 286px;
    top: 10px;
    width: 35px;
    height: 38px;
    z-index: 1;
    cursor: pointer;
}

#close {
    position: absolute;
    left: 20px;
    top: 16px;
    width: 25px;
    height: 25px;
    z-index: 1;
    cursor: pointer;
}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}







/*ISI*/
#ISI {
    position: absolute;
    top: 333px;
    left: 0;
    width: 155px;
    height: 225px;
    z-index: 3;#868586
    background: #99d3e8;
    overflow: hidden;
}

#scrollContainer {
    width: 146px;
    height: 229px;
    position: absolute;
    top: -8px;
    left: 7px;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: .6s ease-out;
}

#textWrapper {
    position: absolute;
    top: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-weight: 400;
    color: #4d4d50;
    font-size: 12px;
    line-height: 14px;
}

#scrollContainer p {
    display: block;
    width: 127px;
}

#scrollMask1 {
    width: 135px;
    height: 220px;
    position: absolute;
    top: 3px;
    left: 0;
    overflow: hidden;
}

#scrollBar {
    position: absolute;
    top: 5px;
    left: 147px;
    height: 220px;
    width: 7px;
    background-color: #c1e2ef;
    border-radius: 15px;
}

#scrollBar #knob1 {
    background-color: #868586;
    border-radius: 15px;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 23px;
    width: 7px;
    cursor: pointer;
    z-index: 999999;
}

#footer {
    position: absolute;
    top: 560px;
    left: 0;
    width: 300px;
    height: 30px;
    z-index: 4;
    background: #99d3e8;
}

#code {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #262b2c;
    font-size: 8px;
    line-height: 10px;
    top: -259px;
    left: 40px;
    width: 90px;
    height: 40px;
    position: absolute;
    opacity: 0;
}

#FPIbtn {
    font-family: Arial, Helvetica, sans-serif;
    color: #020303;
    font-size: 10px;
    line-height: 12px;
    text-align: right;
    text-decoration: underline;
    bottom: -8px;
    left: 8px;
    width: 139px;
    height: 40px;
    position: absolute;
    cursor: pointer;
}


#ISI.fadein {
    opacity: 1;
    transition: .6s ease-in-out;
}

#footer.fadein {
    opacity: 1;
    transition: .6s ease-in-out;
}

#openISI.display {
    display: block;
}

#Box {
    position: relative;
    display: block;
    clear: both;
}

ul {
    padding: 0px;
    margin: 0;
}

#bulletsCollapse {
    margin: 0 0 0 1.2em;
}

#bulletsCollapse li {
   width: 115px;
 }