@charset "UTF-8";


#expand-container-dc{
	position: absolute;
	width: 318px; height: 600px;
	background-color: #82cae3;
	top: 0px; left: 0px;
	z-index: 200;
	display:none;
	background-repeat:no-repeat;
	overflow:hidden;
}

#bgExitTab1 {position: absolute; left: 0; top:48px; width: 500px; height: 282px; background-color: rgba(0,0,0,0); }
#bgExit2Tab1 {position: absolute; left: 74px; top: 48px; width: 215px; height: 282px; background-color: rgba(0,0,0,0); ; }
#bgExitTab2 {position: absolute; left: 0; top: 48px; width: 500px; height: 282px; background-color: rgba(0,0,0,0);;  }
#bgExit2Tab2 {position: absolute; left: 200px; top: 48px; width: 150px; height: 282px;  background-color: rgba(0,0,0,0);  }

/* TABS */
#tab1{
	background:url(tab1.png);
    width: 320px;
    height: 328px;
	top:0px; left:0px;
	position:absolute;
}

#tab2{
	background:url(tab2.png);
    width: 320px;
    height: 328px;
	top:0px; left:0px;
	position:absolute;
	display:none;
}


.checks{ position:absolute; opacity:0; }

#tab1 #check1{ top:114px; left:28px; cursor:pointer}
#tab1 #check2{ top:144px; left:28px; cursor:pointer}
#tab1 #check3{ top:174px; left:28px; cursor:pointer}

#tab2 #check4{ top:137px; left:26px; }
#tab2 #check5{ top:162px; left:26px; }
#tab2 #check6{ top:187px; left:26px; }
#tab2 #check7{ top:212px; left:26px; }


#tab1CTA{ position:absolute; top:208px; left:40px; opacity:0.3;}
#tab2CTA{ position:absolute; top:245px; left:44px; cursor:pointer; }

#tab1Button{
    position: absolute;
    width: 208px;
    height: 22px;
    left: 3px;
    top: 22px;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
}
#tab2Button{   position: absolute;
    width: 88px;
    height: 22px;
    left: 222px;
    top: 22px;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
}


/* ISI EXPANDED */
#footer2{
    top: 563px;
    left: 0px;
    width: 320px;
    height: 35px;
	position:absolute;
	background-color:#97d2e8;
	font-family:Arial, Helvetica, sans-serif;
}



#footer2 #FPIbtn2{ position:absolute; right: 8px; width: 146px; letter-spacing: 0.4px; margin:0; padding:0; font-size:10px; text-decoration:underline;  bottom:9px; text-align: right; cursor: pointer}
#footer2 #code2{ position:absolute; text-align: left; width: 73px;  margin:0; padding:0; font-size:8px; color:#020202; left:15px; bottom:8px}

#openISI2.display { display: block; }

#ISI2 {
	position:absolute;
	top: 330px;
	left: 0;
	width: 320px;
	height: 233px;
	z-index: 3;
	background-color:#98d3e8; 
}

#scrollContainer2 {
	width: 320px;
	height: 240px;
	position: absolute;
	top: -6px;
	left: 7px;
	overflow-y: scroll;
	overflow-x: hidden;
	transition: .6s ease-out;
}

#textWrapper2 {
	position: absolute;
	top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	color: #4d4d50;
	font-size: 12px;
	line-height: 14px;
	width:293px;
}

#scrollContainer2 p { width: 293px; }

#scrollMask2 {
	width: 300px;
	height: 220px;
	position: absolute;
	top: 10px;
	left: 0;
	overflow: hidden;
}

#scrollwrapper2 {
	border-left: 1px solid #d6d6d6;
	position: absolute;
	top: 0px;
	left: 486px;
	height: 67px;
	width: 12px;
}

#scrollBar2 {
	position: absolute;
	top: 8px;
	left: 307px;
  	height: 223px;
	width: 7px;
	background-color:#c1e2ef;
	border-radius:15px;
}

#scrollBar2 #up2, #scrollBar2 #down2 {
	position: absolute;
	top: 49px;
	left: 0;
	margin-bottom: 2px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 4px 6px 4px;
	border-color: transparent transparent #a1a1a1 transparent;
}

#scrollBar2 #down2 {
	/* top: auto; */
	bottom: -12px;
	margin-bottom: 0;
	margin-top: 9px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 4px 0 4px;
	border-color: #a1a1a1 transparent transparent transparent;
}
	
#scrollBar2 #knob2 {
	background-color:#868586;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 20px;
	width: 7px;
	cursor: pointer;
	z-index: 999999;
	border-radius:5px;
}

#Box2{
	position:relative;
	display: block;
	
	clear: both;
	
	}


#close {
    top: 38px;
}


#bullets {
    margin: 0 0 0 1.2em;
}

#bullets li {
   width: 293px;
 }