
/* reset */

html, body, object, img {
    margin: 0;
    padding: 0;
	}

a:active,
a:hover {
    outline: 0;
	}

img {
    border: 0;
	}

/* structure */

#content{
	width: 160px;
	height: 600px;
	overflow: hidden;
	position: relative;
	background: #00ff00;
	}

/* elements */

#frame-1, #frame-2, #frame-3, #angle, #lockup, #logo{
	width: 100%;
	height: 100%;
	}

#main-frame-1{
	width: 160px;
	height: 600px;
	display: block;
	position: absolute;
	top: 0;
	left: -160px;
	z-index: 103;
	}

#main-frame-2{
	width: 160px;
	height: 600px;
	display: block;
	position: absolute;
	top: 0;
	left: 165px;
	z-index: 103;
	}

#main-frame-3, #main-frame-4{
	width: 160px;
	height: 600px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 103;
	opacity: 0;
	}

#shoe{
	width: 160px;
	height: 100px;
	margin-top: 301px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 102;
	background: url(shoe.jpg) no-repeat;
	opacity: 0;
	}

.click-through {
    position: absolute;
    width: 160px;
	height: 600px;
    top: 0px;
    left: 0px;
    cursor: pointer;
    opacity: 0;
    z-index: 106;
    }

/* Animations */

.animClass {
	-webkit-transform: translate3d(0, 0, 0); /* Force Hardware Acceleration */
	}

.transition-1{
	-webkit-transition: all 0.2s ease-in-out !important;
	-ms-transition: all 0.2s ease-in-out !important;
	-moz-transition: all 0.2s ease-in-out !important;
	transition: all 0.2s ease-in-out !important;
	}

.transition-2{
	-webkit-transition: all 0.3s ease-in-out !important;
	-ms-transition: all 0.3s ease-in-out !important;
	-moz-transition: all 0.3s ease-in-out !important;
	transition: all 0.3s ease-in-out !important;
	}

.move-left{
	-webkit-transform: translate( -165px, 0px);
	-ms-transform: translate( -165px, 0px);
	-moz-transform: translate( -165px, 0px);
	transform: translate( -165px, 0px);
	}

.move-right{
	-webkit-transform: translate( 160px, 0px);
	-ms-transform: translate( 160px, 0px);
	-moz-transform: translate( 160px, 0px);
	transform: translate( 160px, 0px);
	}

.fadein{
	opacity: 1 !important;
	}

.fadeout{
	opacity: 0 !important;
	}

