#wrapper {
	color:#333333;
	font-family:Arial, Helvetica, sans-serif;
	margin:0 auto;
	width:100%;
}
#wrapper .top {
	background:#FFFFFF;
	display:block;
	width:955px;
	height:65px;
	margin:0 auto;
	padding-top:5px;
}

#wrapper .container{
	display:block;
	height:auto;
	width:100%;
}
#wrapper .container .banner {
	height:253px;
	width:955px;
	margin:0 auto;
	display:block;
}

/*Rigth Content*/
#wrapper .container .information {
	display:block;
	width:955px;
	margin:0 auto;
}
#wrapper .container .information p { font-size:15px; text-height:19px; margin:10px 40px 10px 130px; clear:both;}
#wrapper .container .information h2 { color:#3b6e8f; font-size:22px; font-weight:bold; margin:20px 0 0 130px;}
#wrapper .container .information ul {
	width:600px;
	float:left;
	font-size:15px;
	margin:0 0 10px 150px;
	list-style-type:none;
}
#wrapper .container .information ul li {
	background:url(../images/bullet.gif) no-repeat 0px 6px;
	margin:8px 0;
	padding:0 0 0 15px;
}
#wrapper .container .information a { clear:both }
#wrapper .container .information a.btn {
	background:url(../images/btn-go-paperless.gif) no-repeat 0 0;
	display:block;
	float:left;
	height:32px;
	margin:0 0 15px 130px;
	*margin:0 0 -10px 130px;
	width:149px;
	text-indent:-99999px;
}
#wrapper .sup { font-size:12px; vertical-align:top; }
#wrapper .supTitle { font-size:14px; vertical-align:top; }
#wrapper .supText { font-size:7px; vertical-align:top;}
#wrapper .bold { font-weight:bold;}
#wrapper .line { border-bottom: #cccccc solid thin; width:825px;}

/*Legal*/
#wrapper .legal {
	display:block;
	width:100%;
	border-bottom: #cccccc solid thin;
	padding:3px 0 15px 0;
}
#wrapper .legal .legalCiti{
	margin:0 auto;
	width:955px;
}
#wrapper .legal .legalCiti a { color:#002868; text-decoration:underline;}
#wrapper .legal .legalCiti p { font-size:10px; text-align:left; margin:10px 0px 10px 150px;}

/*FOOTER*/
#wrapper .footer {
	background:#FFFFFF;
	display:block;
	width:100%;
}
#wrapper .footer .nav {
	display:block;
	width:955px;
	height:40px;
	margin:0 auto;
}
#wrapper .footer .nav .subnav{
	display:block;
	float:right;
	list-style:none;
	width:236px;
	font-size:11px;
	margin-top:13px;
}
#wrapper .footer .nav .subnav li{
	display:block;
	text-align:left;
}
#wrapper .footer .nav .subnav li.terms{
	display:block;
	float:left;
	width:122px;
}
#wrapper .footer .nav .subnav li.privacy{
	display:block;
	float:left;
	width:55px;
}
#wrapper .footer .nav .subnav li.security{
	display:block;
	float:right;
	width:58px;
}
#wrapper .footer .nav .subnav li a { display:block; color:#1f3e81; text-decoration:underline;}

#wrapper .bottom {
	display:block;
	width:100%;
	border-top:#cccccc solid thin;
	padding-bottom:20px;
}
#wrapper .bottom .citi {
	display:block;
	width:955px;
	margin:0 auto;
}
#wrapper .bottom .citi .logoCiti{
	background:url(../images/thumb-citi-logo.gif) no-repeat #FFF;
	display:block;
	height:22px;
	margin:10px 0 15px 0;
	width:34px;
	clear:both;
	text-indent:-99999px;
	float:left;
}
#wrapper .bottom .citi p{
	font-size:11px;
	text-align:left;
	line-height:13px;
	color:#999;
	clear:both;
	margin:14px 0;
}