
.banner {
    position: absolute;
    width: 158px;
    height: 598px;
    border:1px solid #333;
    background: #fff;
    overflow: hidden;
}

#msg{
    position: absolute;
    width: 100px;
    height: 50px;
    border: 1px solid #333;
    background: #fff;
    color: #000;
    z-index: 1000;
}

#loading_dc {
    position: absolute;
    width: 158px;
    height: 598px;
}

#loading_image_dc{
    position: absolute;
    margin: 0 auto;
    top: 250px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
}

#link-overlay{
    width: 158px;
    height: 598px;
    cursor: pointer;
    background: red;
    opacity:0;
}

#header {
    width: 158px;
    height: 79px;
    top: -79px;
    position: absolute;
    background: #335799 url(../img/header.jpg) no-repeat;
    background-position: center;
}
#listen-container {
    position: absolute;
    margin: 0 auto;
    top: 198px;
    left: 300px;
    right: 0;
    width: 148px;
    height: 138px;
    background:url(../img/listen.png) no-repeat;
    opacity: 0;
}
#learn-container{
    position: absolute;
    margin: 0 auto;
    top: 198px;
    left: 300px;
    right: 0;
    width: 148px;
    height: 138px;
    background:url(../img/learn.png) no-repeat;
    opacity: 0;
}
#live-container{
    position: absolute;
    margin: 0 auto;
    top: 198px;
    left: 300px;
    right: 0;
    width: 148px;
    height: 138px;
    background:url(../img/live.png) no-repeat;
    opacity: 0;
}

#live-text{
    position: absolute;
    margin: 0 auto;
    top: 346px;
    left: 0;
    right: 0;
    width: 158px;
    height: 35px;
    background:url(../img/live-text.png) no-repeat;
    background-position: center;
    opacity: 0;
}

#bullet1 {
    position: absolute;
    left: 0px;
    top: 87px;
    width: 119px;
    height: 36px;
    background:url(../img/bullets-copy1.jpg) no-repeat;    
    opacity: 0;
}

#bullet2 {
    position: absolute;
    left: 0px;
    top: 123px;
    width: 151px;
    height: 80px;
    background:url(../img/bullets-copy2.jpg) no-repeat;    
    opacity: 0;
}

#logo-container {
    position: absolute;
    top: 280px;
    left: 10px;
    width: 140px;
    height: 77px;
    background: url(../img/logoAUBAGIO.png) no-repeat;
    opacity: 0;
}
#button-event-container {
    position: absolute;
    top: 227px;
    right: -140px;
    width: 140px;
    height: 26px;
    background: url(../img/button_event.png) no-repeat;
}

#button-expand{
    position: absolute;
    top: 382px;
    right:0;
    width: 74px;
    height: 19px;
    background: url(../img/expand-button.jpg) no-repeat;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

#button-close{
    position: absolute;
    top: 94px;
    right:0;
    width: 73px;
    height: 19px;
    background: url(../img/close-btn.jpg) no-repeat;
    right: -150px;
    cursor: pointer;
    z-index: 1;
}

#safety-copy{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: #4c4c4c;
    width: 154px;
    height: 32px;
    background: #c7c7c7;
    top: 401px;
    padding-top: 4px;
    padding-left: 4px;
    opacity: 0;
}

#safety-copy b{
    font-weight: bold;
}

#ISI{
    position: absolute;
    width: 315px;
    height: 130px;
    top: 437px;
    background: #fff;
    opacity: 0;
    z-index: 2;
    display: none;
    overflow-x: hidden;
}

#ISI #ISItext {
    position: absolute;
    width: 140px;
    /*height: 1010px;*/
    top: 0;
    left: 5px;
    right: 0;
    /*overflow: hidden;*/
}

#ISI #ISItext p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: #4c4c4c;
    line-height: 12px;
}

#ISI #ISItext b{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #4c4c4c;
    line-height: 12px;
}

#ISI #ISItext .titles {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: #4c4c4c;
    line-height: 22px;
}

#ISI #ISItext .titles2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: #4c4c4c;
    line-height: 22px;
}


#ISI #ISItext ul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #4c4c4c;
    line-height: 12px;
    list-style: circle;
}


#ISI #ISItext ul li { 
    text-indent: -0.005em;
    margin-left: 14px;
    list-style-type: disc;
}

span.link a {
    text-decoration: underline;
    color: #CC6600;
}

#ISItext sup{
    vertical-align:top; 
    line-height:100%;
    font-size: 9px;
}

.p2{
    margin-bottom: 0.4em;
    margin-top: -0.6em;
    margin-left: 1.2em;
    clear: both;
    width: 126px;
}

.p3{
    margin-bottom: -1.6em;
    margin-top: 0.4em;
    margin-left: 1.2em;
    clear: both;
    width: 126px;
}

#scrollBar {
    position: absolute;
    top: 440px;
    left: 149px;
    height: 124px;
    width: 7px;
    background-color: #e8e8e8;
    border-radius: 15px;
    opacity: 0;
    z-index: 2;
}

#scrollBar #knob {
    background-color: #4c4c4c;
    border-radius: 15px;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 14px;
    width: 7px;
    cursor: pointer;
    z-index: 999999;
}


#footer{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: #4c4c4c;
    width: 288px;
    height: 27px;
    background: #c7c7c7;
    top: 567px;
    padding-top: 4px;
    padding-left: 12px;
    text-decoration: underline;
    font-weight: bold;
    opacity: 0;
}

#footer #prescription{
    position: absolute;
    top: 5px;
    left: 4px;
    text-decoration: underline;
    cursor: pointer;
}


#footer #medical{
    position: absolute;
    top: 20px;
    left: 4px;
    text-decoration: underline;
    cursor: pointer;
}







