.pipe{
	display: block;
	position: absolute;
	opacity: 1;
	left: 0px;
	top: 0px;
	width: 320px;
	height: 480px;
	background-image: url("pipe.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 320px 480px;
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
}

.cta{
	display: block;
	position: absolute;
	opacity: 1;
	left: 210px;
	top: 429px;
	width: 100px;
	height: 30px;
	background-image: url("cta.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100px 30px;
	transform: scale(1) rotate(0deg) translate(0px, 10px);
	-webkit-transform: scale(1) rotate(0deg) translate(0px, 10px);
	-ms-transform: scale(1) rotate(0deg) translate(0px, 10px);
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	will-change: opacity, transform;
}


.steam {
	display: block;
	position: absolute;
	opacity: 0;
	left: 99px;
	top: 191px;
	width: 142px;
	height: 90px;
	background-image: url("steam.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 142px 90px;
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
}
/* n:steam-move d:1000ms loop:-1 sh:true dir:> dy:0.5 y:300 sc:0.3 op:0 kf:0|kf:70 op:0.8|kf:100 op:0 sc:2 y:-300 */
@keyframes steam-move {
	0% {
		opacity : 0;
		transform: translateY(-300px) scale(0.5) ;
	}
	50% {
		opacity : 0.8;
		transform: translateY(0px) scale(2) ;
	}
	100% {
		opacity : 0;
		transform: translateY(300px) scale(0.3) ;
	}
}
@-webkit-keyframes steam-move {
	0% {
		opacity : 0;
		-webkit-transform: translateY(-300px) scale(0.5) ;
	}
	50% {
		opacity : 0.8;
		transform: translateY(0px) scale(2) ;
	}
	100% {
		opacity : 0;
		-webkit-transform: translateY(300px) scale(0.3) ;
	}
}
@keyframes steam-move2 {
	0% {
		opacity : 0;
		transform: translateY(-300px) scale(0.5) ;
	}
	30% {
		opacity : 0.8;
		transform: translateY(0px) scale(2) ;
	}
	80% {
		opacity : 0.8;
		transform: translateY(0px) scale(2) ;
	}
	100% {
		opacity : 0;
		transform: translateY(0px) scale(2) ;
	}
}
@-webkit-keyframes steam-move2 {
	0% {
		opacity : 0;
		-webkit-transform: translateY(-300px) scale(0.5) ;
	}
	30% {
		opacity : 0.8;
		-webkit-transform: translateY(0px) scale(2) ;
	}
	80% {
		opacity : 0.8;
		-webkit-transform: translateY(0px) scale(2) ;
		
	}
	100% {
		opacity : 0;
		-webkit-transform: translateY(0px) scale(2) ;
		
	}
}
.scene1 .steam1, .scene2 .steam2, .scene3 .steam3 {
	animation: steam-move 3600ms ease 0.3s 1 both;
	-webkit-animation: steam-move 3600ms ease 0.3s 1 both;
}
.scene4 .steam4{
	animation: steam-move2 4000ms ease 0.3s 1 both;
	-webkit-animation: steam-move2 4000ms ease 0.3s 1 both;
}

/* LAYER: text PROPERTIES */
.text{
	display: block;
	position: absolute;
	opacity: 1;
	left: 34px;
	top: 163px;
	width: 249px;
	height: 155px;
	background-image: url("text.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 249px 155px;
	transform: scale(0.27) translate(0px, -600px) rotate(-0.3turn);
	-webkit-transform: scale(0.27) translate(0px, -600px) rotate(-0.3turn);
	-ms-transform: scale(0.27) translate(0px, -600px) rotate(-0.3turn);
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	will-change: opacity, transform;
}
/* scene 4 text IN */
.scene4 .text{
	opacity: 1;
	transform: none;
	-webkit-transform: none;
	-ms-transform: none;
	/* duration: 0.5, ease: fast out, delay: 0.5 */
	transition: opacity 0.5s cubic-bezier(0.4,0,1,1) 0.5s, transform 0.5s cubic-bezier(0.4,0,1,1) 0.5s;
	-webkit-transition: opacity 0.5s cubic-bezier(0.4,0,1,1) 0.5s, -webkit-transform 0.5s cubic-bezier(0.4,0,1,1) 0.5s;
}

/* LAYER: snickers1 PROPERTIES */
.snickers1 {
	display: block;
	position: absolute;
	opacity: 1;
	left: 30px;
	top: 161px;
	width: 261px;
	height: 158px;
	background-image: url("snickers.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 261px 480px;
	transform: scale(0.27) translate(0px, -550px) rotate(-0.3turn);
	-webkit-transform: scale(0.27) translate(0px, -550px) rotate(-0.3turn);
	-ms-transform: scale(0.27) translate(0px, -550px) rotate(-0.3turn);
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	will-change: opacity, transform;
}
/* LAYER: snickers PROPERTIES */
.snickers2 {
	display: block;
	position: absolute;
	opacity: 1;
	left: 30px;
	top: 165px;
	width: 261px;
	height: 151px;
	background-image: url("snickers.png");
	background-repeat: no-repeat;
	background-position: 0px -158px;
	background-size: 261px 480px;
	transform: scale(0.27) translate(0px, -550px) rotate(-0.3turn);
	-webkit-transform: scale(0.27) translate(0px, -550px) rotate(-0.3turn);
	-ms-transform: scale(0.27) translate(0px, -550px) rotate(-0.3turn);
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	will-change: opacity, transform;
}
/* LAYER: snickers3 PROPERTIES */
.snickers3{
	display: block;
	position: absolute;
	opacity: 1;
	left: 30px;
	top: 155px;
	width: 261px;
	height: 171px;
	background-image: url("snickers.png");
	background-repeat: no-repeat;
	background-position: 0px -309px;
	background-size: 261px 480px;
	transform: scale(0.27) translate(0px, -550px) rotate(-0.3turn);
	-webkit-transform: scale(0.27) translate(0px, -550px) rotate(-0.3turn);
	-ms-transform: scale(0.27) translate(0px, -550px) rotate(-0.3turn);
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	will-change: opacity, transform;
}
/* scene 1 snickers1 IN */
.scene1 .snickers1, .scene2 .snickers2, .scene3 .snickers3{
	opacity: 1;
	transform: none;
	-webkit-transform: none;
	-ms-transform: none;
	/* duration: 0.5, ease: overshoot, delay: 0.5 */
	transition: transform 0.5s cubic-bezier(.41,.41,.35,1.2) 0.5s;
	-webkit-transition: -webkit-transform 0.5s cubic-bezier(.41,.41,.35,1.2) 0.5s;
}
/* scene 2 snickers1 OUT */
.scene2 .snickers1, .scene3 .snickers2, .scene4 .snickers3{
	transform: scale(0.27) translate(0px, 550px) rotate(0.5turn);
	-webkit-transform: scale(0.27) translate(0px, 550px) rotate(0.5turn);
	-ms-transform: scale(0.27) translate(0px, 550px) rotate(0.5turn);
	/* duration: 0.3, ease easeInCirc, delay: 0 */
	transition: transform 0.3s cubic-bezier(.6,.04,.98,.335);
	-webkit-transition: -webkit-transform 0.3s cubic-bezier(.6,.04,.98,.335);
}
/* n:hang d:1.5 sh:true e:easeInOut fillMode:forwards dir:>< loop:-1 backfaceVisibility:hidden kf:class|kf:0 y:8|kf:50 y:4|kf:100 y:8 */
@keyframes hang {
	0% {
		transform: translateY(0px) ;
	}
	50% {
		transform: translateY(-4px) ;
	}
	100% {
		transform: translateY(0px) ;
	}
}
@-webkit-keyframes hang {
	0% {
		-webkit-transform: translateY(0px) ;
	}
	50% {
		-webkit-transform: translateY(-4px) ;
	}
	100% {
		-webkit-transform: translateY(0px) ;
	}
}
.scene4 .hang {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	animation: hang 1.5s ease-in-out 5 alternate both;
	-webkit-animation: hang 1.5s ease-in-out 5 alternate both;
}
/* SPRITES: box 2:1,56:51,12:68,50:104,73:1,147:76,437:0,539:86,171:53,212:92,172:0,217:39,241:0,322:78,550:0,637:83, */
/* LAYER: bubbles1 PROPERTIES */
.bubble1{
	display: block;
	position: absolute;
	opacity: 1;
	left: 39px;
	top: 134px;
	width: 54px;
	height: 50px;
	background-image: url("bubbles.png");
	background-repeat: no-repeat;
	background-position: -2px -1px;
	background-size: 640px 113px;
	transform: scale(1) rotate(0.3deg) translate(0px, -500px);
	-webkit-transform: scale(1) rotate(0.3deg) translate(0px, -500px);
	-ms-transform: scale(1) rotate(0.3deg) translate(0px, -500px);
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	will-change: opacity, transform;
}
/* LAYER: bubbles2 PROPERTIES */
.bubble2{
	display: block;
	position: absolute;
	opacity: 1;
	left: 5px;
	top: 187px;
	width: 38px;
	height: 36px;
	background-image: url("bubbles.png");
	background-repeat: no-repeat;
	background-position: -12px -68px;
	background-size: 640px 113px;
	transform: scale(1) rotate(0.3deg) translate(0px, -500px);
	-webkit-transform: scale(1) rotate(0.3deg) translate(0px, -500px);
	-ms-transform: scale(1) rotate(0.3deg) translate(0px, -500px);
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	will-change: opacity, transform;
}
/* LAYER: bubbles3 PROPERTIES */
.bubble3{
	display: block;
	position: absolute;
	opacity: 1;
	left: 265px;
	top: 295px;
	width: 74px;
	height: 75px;
	background-image: url("bubbles.png");
	background-repeat: no-repeat;
	background-position: -73px -1px;
	background-size: 640px 113px;
	transform: scale(1) rotate(0.3deg) translate(0px, -500px);
	-webkit-transform: scale(1) rotate(0.3deg) translate(0px, -500px);
	-ms-transform: scale(1) rotate(0.3deg) translate(0px, -500px);
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	will-change: opacity, transform;
}
/* LAYER: bubbles4 PROPERTIES */
.bubble4{
	display: block;
	position: absolute;
	opacity: 1;
	left: -19px;
	top: 136px;
	width: 102px;
	height: 86px;
	background-image: url("bubbles.png");
	background-repeat: no-repeat;
	background-position: -437px 0px;
	background-size: 640px 113px;
	transform: scale(1) rotate(0.3deg) translate(0px, -500px);
	-webkit-transform: scale(1) rotate(0.3deg) translate(0px, -500px);
	-ms-transform: scale(1) rotate(0.3deg) translate(0px, -500px);
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	will-change: opacity, transform;
}
/* LAYER: bubbles5 PROPERTIES */
.bubble5{
	display: block;
	position: absolute;
	opacity: 1;
	left: 25px;
	top: 352px;
	width: 41px;
	height: 39px;
	background-image: url("bubbles.png");
	background-repeat: no-repeat;
	background-position: -171px -53px;
	background-size: 640px 113px;
	transform: scale(1) rotate(0.3deg) translate(0px, -500px);
	-webkit-transform: scale(1) rotate(0.3deg) translate(0px, -500px);
	-ms-transform: scale(1) rotate(0.3deg) translate(0px, -500px);
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	will-change: opacity, transform;
}
/* LAYER: bubbles6 PROPERTIES */
.bubble6{
	display: block;
	position: absolute;
	opacity: 1;
	left: 33px;
	top: 127px;
	width: 45px;
	height: 39px;
	background-image: url("bubbles.png");
	background-repeat: no-repeat;
	background-position: -172px 0px;
	background-size: 640px 113px;
	transform: scale(1) rotate(0.3deg) translate(0px, -500px);
	-webkit-transform: scale(1) rotate(0.3deg) translate(0px, -500px);
	-ms-transform: scale(1) rotate(0.3deg) translate(0px, -500px);
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	will-change: opacity, transform;
}
/* LAYER: bubbles7 PROPERTIES */
.bubble7{
	display: block;
	position: absolute;
	opacity: 1;
	left: -24px;
	top: 297px;
	width: 81px;
	height: 78px;
	background-image: url("bubbles.png");
	background-repeat: no-repeat;
	background-position: -241px 0px;
	background-size: 640px 113px;
	transform: scale(1) rotate(0.3deg) translate(0px, -500px);
	-webkit-transform: scale(1) rotate(0.3deg) translate(0px, -500px);
	-ms-transform: scale(1) rotate(0.3deg) translate(0px, -500px);
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	will-change: opacity, transform;
}
/* LAYER: bubbles8 PROPERTIES */
.bubble8{
	display: block;
	position: absolute;
	opacity: 1;
	left: 257px;
	top: 276px;
	width: 88px;
	height: 83px;
	background-image: url("bubbles.png");
	background-repeat: no-repeat;
	background-position: -339px 0px;
	background-size: 640px 113px;
	transform: scale(1) rotate(0deg) translate(0px, -500px);
	-webkit-transform: scale(1) rotate(0deg) translate(0px, -500px);
	-ms-transform: scale(1) rotate(0deg) translate(0px, -500px);
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	will-change: opacity, transform;
}
.red-bubble{
	display: block;
	position: absolute;
	opacity: 1;
	left: 267px;
	top: 287px;
	width: 86px;
	height: 82px;
	background-image: url("bubbles.png");
	background-repeat: no-repeat;
	background-position: -551px 0px;
	background-size: 640px 113px;
	transform: scale(1) rotate(0deg) translate(0px, -500px);
	-webkit-transform: scale(1) rotate(0deg) translate(0px, -500px);
	-ms-transform: scale(1) rotate(0deg) translate(0px, -500px);
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	will-change: opacity, transform;
}

/* scene 1 bubble1 IN */
.scene1 .bubble1, .scene1 .bubble2, .scene1 .bubble3, .scene2 .bubble4, .scene2 .bubble5, .scene2 .red-bubble, .scene3 .bubble6, .scene3 .bubble7, .scene3 .bubble8 {
	opacity: 1;
	transform: none;
	-webkit-transform: none;
	-ms-transform: none;
	/* duration: 0.5, ease: Out Sine, delay: 0.5 */
	transition: transform 0.5s cubic-bezier(0.39, 0.58, 0.57, 1) 0.5s;
	-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.39, 0.58, 0.57, 1) 0.5s;
} 
/* scene 2 bubble1 OUT */
.scene2 .bubble1, .scene2 .bubble2, .scene2 .bubble3, .scene3 .bubble4, .scene3 .bubble5, .scene3 .red-bubble, .scene4 .bubble6, .scene4 .bubble7, .scene4 .bubble8 {
	opacity: 1;
	transform: scale(1) rotate(0deg) translate(0px, 500px);
	-webkit-transform: scale(1) rotate(0deg) translate(0px, 500px);
	-ms-transform: scale(1) rotate(0deg) translate(0px, 500px);
	/* duration: 0.3, ease In Sine, delay: 0 */
	transition: transform 0.3s cubic-bezier(0.47, 0, 0.75, 0.72);
	-webkit-transition: -webkit-transform 0.3s cubic-bezier(0.47, 0, 0.75, 0.72);
}
/* n:bob sh:true d:1.5 loop:-1 dy:0.5 kf:class backfaceVisibility:hidden|kf:0 y:-8|kf:50 y:-4|kf:100 y:-8 */
@keyframes bob {
	0% {
		transform: translateY(-8px) ;
	}
	50% {
		transform: translateY(-4px) ;
	}
	100% {
		transform: translateY(-8px) ;
	}
}
@-webkit-keyframes bob {
	0% {
		-webkit-transform: translateY(-8px) ;
	}
	50% {
		-webkit-transform: translateY(-4px) ;
	}
	100% {
		-webkit-transform: translateY(-8px) ;
	}
}
.bob1 {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	animation: bob 1s ease 0.3s infinite both;
	-webkit-animation: bob 1s ease 0.3s infinite both;
}
.bob2 {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	animation: bob 1s ease 0.5s infinite both;
	-webkit-animation: bob 1s ease 0.5s infinite both;
}
.bob3 {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	animation: bob 1s ease 0s infinite both;
	-webkit-animation: bob 1s ease 0s infinite both;
}
html, body {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #000;
	border: none;
}
.banner {
	display: block;
	position: absolute;
	overflow: hidden;
	width: 318px;
	height: 478px;
	background-color: #FFF;
	background-image: url(background.jpg);
	background-repeat: no-repeat;
	border: 1px solid #666;
	cursor: pointer;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
}