html, body, div, span, applet, object, iframe,  h1, h2, h3, h4, h5, h6, p, blockquote, pre,  a, abbr, acronym, address, big, cite, code,  del, dfn, em, img, ins, kbd, q, s, samp,  small, strike, strong, sub, sup, tt, var,  b, u, i, center,  dl, dt, dd, ol, ul, li,  fieldset, form, label, legend,  table, caption, tbody, tfoot, thead, tr, th, td,  article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary,  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,  footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,  q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    background: transparent;
    height: 100%;
}
@font-face {
    font-family: DINE;
    src: url(DINEngschriftStd.otf);
}
@font-face {
    font-family: avenir;
    src: url(Avenir.ttc);
}
#ad-728x90 {
    background: #fff;
    width: 726px;
    min-height: 88px;
    border: 1px #000 solid;
    position: absolute;
    cursor: pointer;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

#bgFixed, #bgFixed2 {
    width: 727px;
    height: 49px;
    overflow: hidden;
    background: #335642;
    position: absolute;
    top: -58px;
}
.tittle-top {
    background: url("sprite-all-objects.png") no-repeat;
    background-position: 0 0;
    text-indent: -99999px;
    height: 36px;
    width: 43%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 5px;
}
.content-objects {
    overflow: hidden;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}
.content-objects .object-1 {
    width: 129px;
    height: 51px;
    overflow: hidden;
    position: absolute;
    top: 100px;
    left: 35px;
    background: url("sprite-all-objects.png") no-repeat #939598;
    background-position: -6px -62px;
}
.content-objects .object-2 {
    width: 129px;
    height: 51px;
    overflow: hidden;
    position: absolute;
    top: 100px;
    left: 195px;
    background: url("sprite-all-objects.png") no-repeat;
    background-position: -12px -138px;
}
.content-objects .object-3 {
    width: 129px;
    height: 51px;
    overflow: hidden;
    position: absolute;
    top: 100px;
    left: 320px;
    background: url("sprite-all-objects.png") no-repeat;
    background-position: -6px -219px;
}
.content-objects .object-4 {
    width: 129px;
    height: 51px;
    overflow: hidden;
    position: absolute;
    top: 100px;
    left: 409px;
    background: url("sprite-all-objects.png") no-repeat;
    background-position: 1px -309px;
}
.content-objects .object-5 {
    width: 129px;
    height: 83px;
    overflow: hidden;
    position: absolute;
    top: 100px;
    left: 559px;
    background: url("sprite-all-objects.png") no-repeat;
    background-position: -59px -407px;
        z-index: 999;
}
.feature-expanded .content-metrics {
    width: 40%;
    height: 63%;
    position: relative;
    margin: 0 auto;
    top: 115px;
    overflow: hidden;
}
.feature-expanded .content-metrics .metric {
    background-color: #0D553F;
    height: 0;
    width: 72px;
    position: absolute;
    bottom: 0;
    font-family: DINE;
    font-size: 24px;
    font-weight: normal;
}
.feature-expanded .content-metrics .metric .numbre-changes {
    text-align: center;
    margin: 10px auto 0;
    color: #fff;
}
.tittle-top {
    top: 9px;
}
.feature-expanded .content-metrics .metric-1 {
    left: 0
}
.feature-expanded .content-metrics .metric-2 {
    left: 0;
    right: 0;
    margin: 0 auto;
}
.feature-expanded .content-metrics .metric-3 {
    right: 0
}
.feature-expanded #bgFixed2 {
    top: -12px;
}
.feature-expanded .object-1 {
    top: 28px;
}
.feature-expanded .object-2 {
    top: 38px;
}
.feature-expanded .object-3 {
    top: 39px;
}
.feature-expanded .object-4 {
    top: 39px;
}

.bottom-text {
    text-align: right;
    margin-top: 130px;
    width: 70%;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.74);
    font-family: avenir;
}

.btn_click-img {
position: absolute;
    bottom: 0;
    right: 50px;
    background: url("sprite-all-objects.png") no-repeat;
    background-position: -37px -577px;
    height: 160px;
    width: 159px;
    transition: all 0.5s;
    z-index: 999;
}
.btn_click-img.rollOver {
    transform: scale(1.1);
    transition: all 0.5s;
}
/*GUIDES POSITION*/
.guide1 {
    position: absolute;
    top: 0px;
    left: 750px;
    border: solid 1px #000;
    width: 726px;
    height: 88px;
}
.guide2 {
    position: absolute;
    left: 0px;
    top: 415px;
    border: solid 1px #000;
    width: 726px;
}
/*GUIDES POSITION*/


#clickTagGeneral {
    width: 728px;
    min-height: 90px;
    float: left;
}