
body, body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  color: #333;
}


#main-container {
  position: absolute;
  width: 728px;
  height: 400px;
  box-sizing: border-box;
  top: 0;
  left: 0;
}

#collapsed-state {
  position: absolute;
  top: 0;
  left: 0;
  width: 728px;
  height: 90px;
  z-index: 100;
  cursor: pointer;
  text-align: center;
  /*background-color: #EEE;*/
  border: 1px solid black;
  box-sizing: border-box;
}

#expanded-state {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
 /* background-color: #F1F1F1;*/
  z-index: 200;
  border: 1px solid black;
  display: none;
  overflow: hidden;
}

#expanded-exit {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  cursor: pointer;
  /* IE10 needs a background color otherwise he won't capture clicks */
  background-color: #FFF;
  opacity: 0;
  z-index: 400;
  display: none;
}

#collapsed-exit {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  cursor: pointer;
  /* IE10 needs a background color otherwise he won't capture clicks */
  /*background-color: #FFF;*/
  opacity: 0;
  z-index: 400;
  display: none;
}

.button {
  position: absolute;
  color: #FFF;
  background-color: #339933;
  border: 1px outset #333;
  cursor: pointer;
  padding: 5px 10px;
  z-index: 500;
  font-family: Arial, sans-serif;
  font-size: 10pt;
}

#expand-button {
  bottom: 5px;
  right: 5px;
  display: none;
}

#collapse-button {
  top: 5px;
  right: 5px;
  display: none;
}

.feature-collapsed {
  top: 10px;
  left: 318px;
  width: 92.44444444444444px;
  height: 70px;
  position: absolute;
}

.feature-expanded {
/*  top: 37px;
  left: 91px;
  width: 546px;
  height: 325.125px;
  position: absolute;*/
    width: 100%;
    height: 100%;
    position: absolute;
}
#main-img-1 {
    width: 100%;
    height: 100%;
}

:focus {
  outline:none;
}
::-moz-focus-inner {
  border:0;
}
