html, body {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #000;
	border: none;
}
.cta{
	display: block;
	position: absolute;
	opacity: 1;
	left: 210px;
	top: 429px;
	width: 100px;
	height: 30px;
	background-image: url("cta.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100px 30px;
	transform: scale(1) rotate(0deg) translate(0px, 10px);
	-webkit-transform: scale(1) rotate(0deg) translate(0px, 10px);
	-ms-transform: scale(1) rotate(0deg) translate(0px, 10px);
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	will-change: opacity, transform;
}




.banner {
	display: block;
	position: absolute;
	overflow: hidden;
	width: 318px;
	height: 478px;
	background-color: #FFF;
	background-image: url(background.jpg);
	background-repeat: no-repeat;
	border: 1px solid #666;
	cursor: pointer;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
}
.video {
	display: block;
	position: absolute;
	left: 22px;
	top: 200px;
	width: 269px;
  	height: 152px;
}
#ytp {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -2px;
    z-index: 500;
    border:4px solid white;
}
.pipe{
	display: block;
	position: absolute;
	opacity: 1;
	left: 0px;
	top: 0px;
	width: 320px;
	height: 480px;
	background-image: url("pipe.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 320px 480px;
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
}
/* n:move-steam sh:true d:1000ms loop:-1 dir:>< dy:0.5 x:5 y:-5 sc:1.5 rot:30 op:.7 */
@keyframes move-steam {
	0% {
		opacity: 0;
		transform: translate3d(0px, 0px, 0px) scale(0.3) rotate(10deg);
	}
	15% {
		opacity: 1;
	}
	98% {
		opacity : 0;
	}
	100% {
		transform: translate3d(0px, -285px, 0px) scale(1.2, 1);
	}
}
@-webkit-keyframes move-steam {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0px, 0px, 0px) scale(0.3) rotate(10deg);
	}
	15% {
		opacity: 1;
	}
	98% {
		opacity : 0;
	}
	100% {
		
		-webkit-transform: translate3d(0px, -285px, 0px) scale(1.2,1);
	}
}
.steam-anim{
	display: block;
	position: absolute;
	opacity: 0;
	left: -8px;
	top: 0px;
	width: 320px;
	height: 480px;
	transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	animation: move-steam 3500ms cubic-bezier(0.445, 0.050, 0.550, 0.950) 0.5s infinite;
	-webkit-animation: move-steam 3500ms cubic-bezier(0.445, 0.050, 0.550, 0.950) 0.5s infinite;	
}
@keyframes steam-change {
	0% {
		background-position: 0px 0px;
	}
	100% {
		background-position: -640px 0px;
	}
}
@-webkit-keyframes steam-change {
	0% {
		background-position: 0px 0px;
	}
	100% {
		background-position: -640px 0px;
	}
}
.steam{
	animation-name: steam-change;
	animation-duration: 7000ms;
	animation-timing-function: steps(2);
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-fill-mode: forwards;
	animation-play-state: running;
	-webkit-animation-name: steam-change;
	-webkit-animation-duration: 7000ms;
	-webkit-animation-timing-function: steps(2);
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: normal;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-play-state: running;
	display: block;
	position: absolute;
	opacity: 1;
	left: -8px;
	top: 0px;
	width: 320px;
	height: 480px;
	background-image: url("steam.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 640px 480px;
}