<head>
    <title>Mc Donalds</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <iframe src="https://www.google.com/doubleclick/studio/externalpreview/#/8x5UA--nRwiELgh8ER7L8w?creativeId=38458493"/>
</body>