@charset "UTF-8";

#ad {
	width: 726px;
	height:	88px;
	border: 1px solid #111111;
	background: url(bg.jpg);
	background-size: contain;
	overflow: hidden;
	position: relative;
}

#clicktag {
	width: 728px;
	height:	90px;
	opacity: 0.3;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	cursor: pointer;
}

#main_content {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	color: #a9aaac;
}

#brand {
	position: absolute;
	top: 7px;
	right: 7px;
}

.text {
	position: absolute;
}

#text1 {
	top: 37px;
	left: 63px;
}

#text2-1, #text3-1 {
	top: 26px;
	left: -500px;
}

#text2-2, #text3-2 {
	top: 47px;
	left: -500px;
}

#legal {
	position: absolute;
	bottom: 8px;
	right: 10px;
}

#devices {
	background: url(devices.png);
	width: 151px;
	height: 80px;
	position: absolute;
	top: 4px;
	left: 356px;
}

#ff-title {
	display: block;
	top: 36px;
	opacity: 0;
	left: 18px;
}

#cta {
	position: absolute;
	right: 13px;
	bottom: 10px;
	z-index: 3;
	cursor: pointer;
	opacity: 0;
}

#cta:hover #arrow {
	right: 8px;
}

#arrow {
	display: block;
	position: absolute;
	top: 6px;
	right: 12px;

	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

#offer {
	position: absolute;
	top: 10px;
	left: 276px;
	opacity: 0;
}

#phone {
	position: absolute;
	bottom: 15px;
	left: 15px;
	opacity: 0;
	display: block;
}

#hands {
    position: absolute;
    top: 90px;
    left: 369px;
}

#hand-1 {
	width: 48px;
	height: 80px;
	position: absolute;
	background: url(hand1.png) no-repeat;
    left: 52px;
    top: 3px;
    z-index: 3;
    opacity: 0;
}

#hand-2 {
	width: 59px;
	height: 91px;
	position: absolute;
	background: url(hand2.png) no-repeat;
	left: 47px;
    z-index: 3;
    opacity: 0;
}

#hand-3 {
	width: 67px;
	height: 100px;
	position: absolute;
	background: url(hand3.png) no-repeat;
    left: 11px;
    z-index: 1;
    top: -6px;
    opacity: 0;
}

#hand-4 {
	width: 31px;
	height: 84px;
	position: absolute;
	background: url(hand4.png) no-repeat;
    left: 31px;
    z-index: 4;
    top: 1px;
    opacity: 0;
}

.images-sprite, .images-arrow, .images-badge, .images-button, .images-ff-title, .images-legal, .images-logo, .images-phonenumber, .images-text1, .images-text2-1, .images-text2-2, .images-text3-1, .images-text3-2 {
  background-image: url('sprite.png');
  background-repeat: no-repeat;
}

.images-arrow {
  background-position: 0 0;
  height: 8px;
  width: 6px;
}

.images-badge {
  background-position: 0 -8px;
  height: 70px;
  width: 263px;
}

.images-button {
  background-position: 0 -78px;
  height: 20px;
  width: 100px;
}

.images-ff-title {
  background-position: 0 -98px;
  height: 15px;
  width: 185px;
}

.images-legal {
  background-position: 0 -113px;
  height: 16px;
  width: 205px;
}

.images-logo {
  background-position: 0 -129px;
  height: 22px;
  width: 68px;
}

.images-phonenumber {
  background-position: 0 -151px;
  height: 10px;
  width: 101px;
}

.images-text1 {
  background-position: 0 -161px;
  height: 17px;
  width: 246px;
}

.images-text2-1 {
  background-position: 0 -178px;
  height: 17px;
  width: 204px;
}

.images-text2-2 {
  background-position: 0 -195px;
  height: 17px;
  width: 136px;
}

.images-text3-1 {
  background-position: 0 -212px;
  height: 17px;
  width: 217px;
}

.images-text3-2 {
  background-position: 0 -229px;
  height: 14px;
  width: 241px;
}