<table width="560" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td width="560"><table border="0" cellpadding="0" cellspacing="0" width="560" align="center">
        <tr>
          <td height="10" style="line-height:0px; font-size:0px;"><img src="images/space.gif" width="1" height="1" alt="space" border="0" /></td>
        </tr>
        <tr>
          <td width="560"><table border="0" cellpadding="0" cellspacing="0" width="560">
              <tr>
                <td width="359" valign="top"><table border="0" cellpadding="0" cellspacing="0" width="359">
                    <tr>
                      <td width="359"><font face="Arial, Helvetica, sans-serif" style="font-size:9px;" color="#999999">Having trouble viewing this e-mail? <a target="_blank" href="https://creditcards.citi.com/" style="text-decoration:underline;"><font face="Arial, Helvetica, sans-serif" style="font-size: 9px;" color="#999999">Click here</font></a>.</font></td>
                    </tr>
                    <tr>
                      <td width="359" height="18" style="line-height:0px; font-size:0px;"><img src="images/space.gif" width="1" height="1" alt="space" border="0" /></td>
                    </tr>
                    <tr>
                      <td width="157" align="left" style="line-height:0px; font-size:0px;"><a href="https://www.citicards.com/cards/wv/home.do" target="_blank"><img src="images/citi-logo.gif" width="54" height="31" alt="Citi Logo" border="0" /></a></td>
                    </tr>
                    <tr>
                      <td width="359" height="22" style="line-height:0px; font-size:0px;"><img src="images/space.gif" width="1" height="1" alt="space" border="0" /></td>
                    </tr>
                    <tr>
                      <td width="359" valign="top" align="left"><font face="Arial, Helvetica, sans-serif" color="#004685" style="font-size:12px; line-height:15px;">Your Account: <b>Card Benefits</b></font></td>
                    </tr>
                  </table></td>
                <td width="196" valign="top"><table border="0" cellpadding="0" cellspacing="0" width="196">
                    <tr>
                      <td width="196"><table border="0" align="right" cellpadding="0" cellspacing="0" width="196">
                          <tr>
                            <td  width="196" style="line-height:0px; font-size:0px;"><a href="https://online.citibank.com/US/JRS/pands/detail.do?ID=EmailFraud" target="_blank"><img src="images/security-title.gif" alt="EMAIL SECURITY ZONE" width="196" height="22" border="0" /></a></td>
                          </tr>
                          <tr>
                            <td valign="top" width="196"><table border="0" cellpadding="0" cellspacing="0" width="196">
                                <tr>
                                  <td height="42" width="7" style="line-height:0px; font-size:0px;"><img src="images/left-border-security.gif" width="7" height="42" alt="border" border="0" /></td>
                                  <td width="169" style="line-height:0px; font-size:0px;"><font face="Arial, Helvetica, sans-serif" color="#004685" style="font-size:11px; line-height:13px;">Cardmember: <br />
                                    Account Ending In: <br />
                                    Member Since: </font></td>
                                  <td height="42" width="20" style="line-height:0px; font-size:0px;"><img src="images/right-border-security.gif" width="20" height="42" alt="border" border="0" /></td>
                                </tr>
                              </table></td>
                          </tr>
                          <tr>
                            <td valign="top" width="196" style="line-height:0px; font-size:0px;"><img src="images/bttom-border-security.gif" alt="border" width="196" height="2" border="0" /></td>
                          </tr>
                        </table></td>
                    </tr>
                    <tr>
                      <td height="11" style="line-height:0px; font-size:0px;"><img src="images/space.gif" width="1" height="1" alt="space" border="0" /></td>
                    </tr>
                    <tr>
                      <td align="right" width="220"><font face="Arial, Helvetica, sans-serif" style="font-size:10px; line-height:10px;" color="#999999">Add <a href="mailto:citicards@info9.citibank.com" target="_blank" style="text-decoration:none;"><font face="Arial, Helvetica, sans-serif" color="#00bdf2">citicards@info9.citibank.com</font></a><br />
                        to your address book to ensure delivery.</font></td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
  <!-- END HEADER-->
  <tr>
    <td width="560" height="10" style="line-height:0px; font-size:0px;"><img src="images/space.gif" width="1" height="1" alt="space" border="0" /></td>
  </tr>
  <tr>
    <td width="560" bgcolor="#CCCCCC" style="line-height:0px; font-size:0px;"><img src="images/space.gif" width="1" height="1" alt="space" border="0" /></td>
  </tr>
  <tr>
    <td width="560" height="20" style="line-height:0px; font-size:0px;"><img src="images/space.gif" width="1" height="1" alt="space" border="0" /></td>
  </tr>
  <tr>
    <td width="560" style="line-height:0px; font-size:0px;"><img src="images/banner.jpg" width="560" height="175" alt="Earn ThankYou(R) Points that add up fast." border="0" /></td>
  </tr>
  <tr>
    <td width="560" height="10" style="line-height:0px; font-size:0px;"><img src="images/space.gif" width="1" height="1" alt="space" border="0" /></td>
  </tr>
  <tr>
    <td width="560" height="10"><table width="560" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="494" height="10" style="line-height:0px; font-size:0px;"><img src="images/space.gif" width="1" height="1" alt="space" border="0" /></td>
          <td width="22"><a href="http://facebook.com/Citibank" target="_blank"><img src="images/facebook.jpg" width="22" height="20" alt="Facebook" border="0" /></a></td>
          <td width="22"><a href="http://twitter.com/Citibank" target="_blank"><img src="images/twitter.jpg" width="22" height="20" alt="Twitter" border="0" /></a></td>
          <td width="22"><a href="http://Youtube.com/Citi" target="_blank"><img src="images/youtube.jpg" width="22" height="20" alt="YouTube" border="0" /></a></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td width="560" height="10" style="line-height:0px; font-size:0px;"><img src="images/space.gif" width="1" height="1" alt="space" border="0" /></td>
  </tr>
  <!-- MAIN CONTENT-->
  <tr>
    <td width="560"><table border="0" cellpadding="0" cellspacing="0" width="560">
        <tr>
          <td width="150" valign="top"><table border="0" cellpadding="0" cellspacing="0" width="150">
              <tr>
                <td width="150" style="line-height:0px; font-size:0px;"><a href="#" target="_blank"><img src="images/btn-start-now.gif" width="150" height="33" alt="Start Now" border="0" /></a></td>
              </tr>
              <tr>
                <td height="20" style="line-height:0px; font-size:0px;"><img src="images/space.gif" width="1" height="1" alt="space" border="0" /></td>
              </tr>
              <tr>
                <td height="20" style="line-height:0px; font-size:0px;"><img src="images/left-box.gif" alt="It's easy" width="150" height="160" border="0" usemap="#Map" /></td>
              </tr>
            </table>
            <map name="Map"><area shape="rect" coords="5,42,145,62" href="http://www.thankyou.com" target="_blank" alt="Go to thankyou.com"></map>
            </td>
          <td width="20" style="line-height:0px; font-size:0px;"><img src="images/space.gif" width="1" height="1" alt="space" border="0" /></td>
          <td width="390" valign="top"><table border="0" cellpadding="0" cellspacing="0" width="390">
              <tr>
                <td width="390"><font face="Arial, Helvetica, sans-serif" style="font-size:17px; line-height:19px;" color="#004785"><b>Set up your ThankYou Member Account today to see all the great rewards you can get.</b></font></td>
              </tr>
              <tr>
                <td width="390" height="15" style="line-height:0px; font-size:0px;"><img src="images/space.gif" width="1" height="1" alt="space" border="0" /></td>
              </tr>
              <tr>
                <td width="390"><font face="Arial, Helvetica, sans-serif" style="font-size:13px; line-height:18px;" color="#333333">Dear Cardmember,</font></td>
              </tr>
              <tr>
                <td width="390" height="10" style="line-height:0px; font-size:0px;"><img src="images/space.gif" width="1" height="1" alt="space" border="0" /></td>
              </tr>
              <tr>
                <td width="390"><font face="Arial, Helvetica, sans-serif" style="font-size:13px; line-height:18px;" color="#333333">With the Citi ThankYou<span style="font-size:11px; line-height:14px; vertical-align:top;">&reg;</span> Card, there are now more ways to earn ThankYou Points than ever, meaning your points will add up fast. Redeem your ThankYou Points for a wide selection of rewards &mdash; from merchandise to gift cards, travel rewards and even cash. Set up your ThankYou Member Account today to view and redeem points.</font></td>
              </tr>
              <tr>
                <td width="390" height="10" style="line-height:0px; font-size:0px;"><img src="images/space.gif" width="1" height="1" alt="space" border="0" /></td>
              </tr>
              <tr>
                <td width="390"><font face="Arial, Helvetica, sans-serif" style="font-size:13px; line-height:18px;" color="#333333"><b>So many ways to earn ThankYou Points:</b></font></td>
              </tr>
              <tr>
                <td width="390" height="12" style="line-height:0px; font-size:0px;"><img src="images/space.gif" width="1" height="1" alt="space" border="0" /></td>
              </tr>
              <tr>
                <td width="390" bgcolor="#CCCCCC" style="line-height:0px; font-size:0px;"><img src="images/space.gif" width="1" height="1" alt="space" border="0" /></td>
              </tr>
              <tr>
                <td width="390" height="12" style="line-height:0px; font-size:0px;"><img src="images/space.gif" width="1" height="1" alt="space" border="0" /></td>
              </tr>
              <tr>
                <td width="390" valign="top"><table width="390" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="35" align="right" valign="top"><img src="images/bullet.gif" width="18" height="9" alt="bullet" border="0" /></td>
                      <td width="355" valign="top"><font face="Arial, Helvetica, sans-serif" style="font-size:13px; line-height:15px;" color="#333333"><b>Earn 1 point </b>for every dollar spent on eligible purchases</font></td>
                    </tr>
                    <tr>
                      <td width="35" height="10" style="line-height:0px; font-size:0px;"><img src="images/space.gif" width="1" height="1" alt="space" border="0" /></td>
                      <td width="279" height="10" style="line-height:0px; font-size:0px;"><img src="images/space.gif" width="1" height="1" alt="space" border="0" /></td>
                    </tr>
                   <tr>
                      <td width="35" align="right" valign="top"><img src="images/bullet.gif" width="18" height="9" alt="bullet" border="0" /></td>
                      <td width="355" valign="top"><font face="Arial, Helvetica, sans-serif" style="font-size:13px; line-height:15px;" color="#333333"><b>Earn extra points</b> for shopping through the <a href="#" target="_blank" style="text-decoration:none;"><font face="Arial, Helvetica, sans-serif" color="#00bdf2"><b>ThankYou Bonus Center</b></font></a></font></td>
                    </tr>
                    <tr>
                      <td width="35" height="10" style="line-height:0px; font-size:0px;"><img src="images/space.gif" width="1" height="1" alt="space" border="0" /></td>
                      <td width="279" height="10" style="line-height:0px; font-size:0px;"><img src="images/space.gif" width="1" height="1" alt="space" border="0" /></td>
                    </tr>
                    <tr>
                      <td width="35" align="right" valign="top"><img src="images/bullet.gif" width="18" height="9" alt="bullet" border="0" /></td>
                      <td width="355" valign="top"><font face="Arial, Helvetica, sans-serif" style="font-size:13px; line-height:15px;" color="#333333"><b>Earn an Anniversary Bonus</b> each year you're a cardmember</font></td>
                    </tr>
                  </table></td>
              </tr>
              <tr>
                <td width="390" height="12" style="line-height:0px; font-size:0px;"><img src="images/space.gif" width="1" height="1" alt="space" border="0" /></td>
              </tr>
              <tr>
                <td width="390" bgcolor="#CCCCCC" style="line-height:0px; font-size:0px;"><img src="images/space.gif" width="1" height="1" alt="space" border="0" /></td>
              </tr>
              <tr>
                <td width="390" height="12" style="line-height:0px; font-size:0px;"><img src="images/space.gif" width="1" height="1" alt="space" border="0" /></td>
              </tr>
              <tr>
                <td width="390"><font face="Arial, Helvetica, sans-serif" style="font-size:13px; line-height:18px;" color="#333333">Go to <a href="http://www.thankyou.com" target="_blank" style="text-decoration:none;"><font face="Arial, Helvetica, sans-serif" color="#00bdf2"><b>thankyou.com</b></font></a> to set up your ThankYou Member Account today. Continue using your Citi ThankYou Card to get to the rewards you want faster.</font></td>
              </tr>
              <tr>
                <td width="390" height="20" style="line-height:0px; font-size:0px;"><img src="images/space.gif" width="1" height="1" alt="space" border="0" /></td>
              </tr>
              <tr>
                <td width="390" style="line-height:0px; font-size:0px;"><a href="#" target="_blank"><img src="images/btn-start-now.gif" width="150" height="33" alt="Start Now" border="0" /></a></td>
              </tr>
              <tr>
                <td width="390" height="20" style="line-height:0px; font-size:0px;"><img src="images/space.gif" width="1" height="1" alt="space" border="0" /></td>
              </tr>
              <tr>
                <td width="390" style="line-height:0px; font-size:0px;"><a href="#" target="_blank"><img src="images/reminder.gif" width="375" height="75" alt="Reminder" border="0" /></a></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
  <!-- END MAIN CONTENT-->
  <tr>
    <td height="40" style="line-height:0px; font-size:0px;"><img src="images/space.gif" width="1" height="1" alt="space" border="0" /></td>
  </tr>
  <tr>
    <td width="560"><table border="0" cellpadding="0" cellspacing="0" width="560">
        <tr>
          <td style="line-height:0px; font-size:0px;" width="45"><img src="images/left-border-box.gif" width="45" height="33" alt="Left Border" border="0" /></td>
          <td bgcolor="#004785" align="center" valign="middle" width="128"><a href="https://www.accountonline.com/cards/svc/Login.do?NEXT_SCREEN=/AccountSummary&langId=EN&siteId=CB" target="_blank" style="text-decoration:none;"><font face="Arial, Helvetica, sans-serif" style="font-size:10px; line-height:12px;" color="#FFFFFF">View Your Account</font></a></td>
          <td style="line-height:0px; font-size:0px;" width="42"><img src="images/divisor-box.gif" width="42" height="33"  alt="Divisor" border="0" /></td>
          <td bgcolor="#004785" valign="middle" width="130" align="center"><a href="https://www.accountonline.com/cards/svc/Login.do?NEXT_SCREEN=/CTPPay&langId=EN&siteId=CB" target="_blank" style="text-decoration:none;"><font face="Arial, Helvetica, sans-serif" style="font-size:10px; line-height:12px;" color="#FFFFFF">Pay Your Bill</font></a></td>
          <td style="line-height:0px; font-size:0px;" width="42"><img src="images/divisor-box.gif" width="42" height="33"  alt="Divisor" border="0" /></td>
          <td bgcolor="#004785" valign="middle" width="128" align="center"><a href="https://online.citibank.com/US/JRS/portal/contactus.do?ID=ContactUsCards" target="_blank" style="text-decoration:none;"><font face="Arial, Helvetica, sans-serif" style="font-size:10px; line-height:12px;" color="#FFFFFF">Contact Us </font></a></td>
          <td style="line-height:0px; font-size:0px;" width="45"><img src="images/right-border-box.gif" width="45" height="33" alt="Right Border" border="0" /></td>
        </tr>
      </table></td>
  </tr>
  <!-- END FOOTER MENU -->
  <tr>
    <td><table border="0" cellpadding="0" cellspacing="0" width="560">
        <tr>
          <td width="20" style="line-height:0px; font-size:0px;"><img src="images/space.gif" width="1" height="1" alt="space" border="0" /></td>
          <td width="540"><table border="0" cellpadding="0" cellspacing="0" width="540">
              <tr>
                <td height="40" style="line-height:0px; font-size:0px;"><img src="images/space.gif" width="1" height="1" alt="space" border="0" /></td>
              </tr>
              <tr>
                <td style="line-height:0px; font-size:0px;"><table border="0" cellspacing="0" cellpadding="0" width="560">
                    <tr>
                      <td width="19" style="line-height:0px; font-size:0px;"><img src="images/space.gif" width="1" height="1" alt="space" border="0" /></td>
                      <td width="177"><a href="http://facebook.com/Citibank" target="_blank"><img src="images/findus-facebook.gif" width="177" height="50" border="0" alt="Find us on Facebook" /></a></td>
                      <td width="168"><a href="http://twitter.com/Citibank" target="_blank"><img src="images/followus-twitter.gif" width="168" height="50" border="0" alt="Follow us on Twitter" /></a></td>
                      <td width="177"><a href="http://Youtube.com/Citi" target="_blank"><img src="images/watch-youtube.gif" width="177" height="50" border="0" alt="Watch us on TouTube" /></a></td>
                      <td width="19" style="line-height:0px; font-size:0px;"><img src="images/space.gif" width="1" height="1" alt="space" border="0" /></td>
                    </tr>
                  </table></td>
              </tr>
              <tr>
                <td height="27" style="line-height:0px; font-size:0px;"><img src="images/space.gif" width="1" height="1" alt="space" border="0" /></td>
              </tr>
              <tr>
                <td><table width="540" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="220" style="line-height:0px; font-size:0px;"><img src="images/space.gif" width="1" height="1" alt="space" border="0" /></td>
                      <td><font face="Arial, Helvetica, sans-serif" style="font-size:10px; line-height:12px;" color="#666666"><a href="http://www.citibank.com/us/cards/privacy.htm" target="_blank" style="text-decoration:none;"><font face="Arial, Helvetica, sans-serif" color="#00bdf2">Privacy</font></a> | <a href="https://online.citibank.com/US/JRS/pands/detail.do?ID=EmailFraud" target="_blank" style="text-decoration:none;"><font face="Arial, Helvetica, sans-serif" color="#00bdf2">Security</font></a></font></td>
                      <td width="220" style="line-height:0px; font-size:0px;"><img src="images/space.gif" width="1" height="1" alt="space" border="0" /></td>
                    </tr>
                  </table></td>
              </tr>
              <tr>
                <td height="15" style="line-height:0px; font-size:0px;"><img src="images/space.gif" width="1" height="1" alt="space" border="0" /></td>
              </tr>
              <tr>
                <td><font face="Arial, Helvetica, sans-serif" style="font-size:10px; line-height:13px;" color="#666666"><u>Email Preferences</u></font></td>
              </tr>
              <tr>
                <td><font face="Arial, Helvetica, sans-serif" style="font-size:10px; line-height:12px;" color="#666666">This is a message from Citi Cards. Your credit card is issued by Citibank, N.A. If you'd like to refine the types of email messages you receive, or if you'd prefer to stop receiving email from us, please go to <a href="http://www.email.citicards.com" target="_blank" style="text-decoration:none;"><font face="Arial, Helvetica, sans-serif" color="#00bdf2">email.citicards.com</font></a>. Citibank manages email preferences by line of business. Changing your email preferences with Citi Cards does not change your email preferences for messages from Citibank's other businesses which include retail branch banking among others.</font></td>
              </tr>
              <tr>
                <td height="15" style="line-height:0px; font-size:0px;"><img src="images/space.gif" width="1" height="1" alt="space" border="0" /></td>
              </tr>
              <tr>
                <td><font face="Arial, Helvetica, sans-serif" style="font-size:10px; line-height:12px;" color="#666666">Should you want to contact us in writing concerning this email, please direct your correspondence to:</font></td>
              </tr>
              <tr>
                <td><font face="Arial, Helvetica, sans-serif" style="font-size:10px; line-height:12px;" color="#666666">Citibank, N.A. Customer Service<br />
                  P.O. Box 6500<br />
                  Sioux Falls, SD 57117</font></td>
              </tr>
              <tr>
                <td height="15" style="line-height:0px; font-size:0px;"><img src="images/space.gif" width="1" height="1" alt="space" border="0" /></td>
              </tr>
              <tr>
                <td><font face="Arial, Helvetica, sans-serif" style="font-size:10px; line-height:13px;" color="#666666"><u>Help / Contact Us</u></font></td>
              </tr>
              <tr>
                <td><font face="Arial, Helvetica, sans-serif" style="font-size:10px; line-height:12px;" color="#666666">If you have questions about your account, please use our secure message center by signing on at <a href="https://online.citibank.com/US/JRS/portal/contactus.do?ID=ContactUsCards" target="_blank" style="text-decoration:none;"><font face="Arial, Helvetica, sans-serif" color="#00bdf2">citicards.com</font></a> and choosing "Contact Us" from the "Help / Contact Us" menu. You can also call the customer service phone number on the back of your card.</font></td>
              </tr>
              <tr>
                <td height="15" style="line-height:0px; font-size:0px;"><img src="images/space.gif" width="1" height="1" alt="space" border="0" /></td>
              </tr>
              <tr>
                <td><font face="Arial, Helvetica, sans-serif" style="font-size:10px; line-height:12px;" color="#666666">&copy; 2012 Citibank, N.A.</font></td>
              </tr>
              <tr>
                <td><font face="Arial, Helvetica, sans-serif" style="font-size:10px; line-height:12px;" color="#666666">All rights reserved.</font></td>
              </tr>
              <tr>
                <td><font face="Arial, Helvetica, sans-serif" style="font-size:10px; line-height:12px;" color="#666666">Citi, Citibank, Citi with Arc Design, Citi ThankYou and ThankYou are registered service marks of Citigroup Inc.</font></td>
              </tr>
              <tr>
                <td height="20" style="line-height:0px; font-size:0px;"><img src="images/space.gif" width="1" height="1" alt="space" border="0" /></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
