html, body, div, span, applet, object, iframe,  h1, h2, h3, h4, h5, h6, p, blockquote, pre,  a, abbr, acronym, address, big, cite, code,  del, dfn, em, img, ins, kbd, q, s, samp,  small, strike, strong, sub, sup, tt, var,  b, u, i, center,  dl, dt, dd, ol, ul, li,  fieldset, form, label, legend,  table, caption, tbody, tfoot, thead, tr, th, td,  article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary,  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,  footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,  q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    background: transparent;
    height: 100%;
}
@font-face {
    font-family: DINE;
    src: url(DINEngschriftStd.otf);
}
@font-face {
    font-family: avenir;
    src: url(Avenir.ttc);
}

#bgFixed {
    width: 299px;
    height: 99px;
    overflow: hidden;
    background: #335642;
    position: absolute;
    top: -105px;
}
.tittle-top {
    background: url("sprite-all-objects.png") no-repeat;
    background-position: -11px 0;
    text-indent: -99999px;
    height: 62%;
    width: 4100%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 15px;
}
.content-objects {
    overflow: hidden;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}
.content-objects .object-1 {
    width: 106px;
    height: 42px;
    overflow: hidden;
    position: absolute;
    top: 88px;
    left: 100px;
    background: url("sprite-all-objects.png") no-repeat #939598;
    background-position: -6px -53px;
    background-size: 251%;
    opacity: 0;
}
.content-objects .object-2 {
    width: 129px;
    height: 51px;
    overflow: hidden;
    position: absolute;
    top: 112px;
    left: -130px;
    background: url("sprite-all-objects.png") no-repeat;
    background-position: -12px -138px;
}
.content-objects .object-3 {
    width: 129px;
    height: 51px;
    overflow: hidden;
    position: absolute;
    top: 157px;
    left: -130px;
    background: url("sprite-all-objects.png") no-repeat;
    background-position: -6px -144px;
    background-size: 168%;
}
.content-objects .object-4 {
    width: 129px;
    height: 51px;
    overflow: hidden;
    position: absolute;
    top: 197px;
    left: -130px;
    background: url("sprite-all-objects.png") no-repeat;
    background-position: 1px -206px;
    background-size: 170%;
}
.content-objects .object-5 {
    width: 160px;
    height: 153px;
    overflow: hidden;
    position: absolute;
    top: 112px;
    left: 148px;
    background: url("sprite-all-objects.png") no-repeat;
    background-position: -150px -370px;
    z-index: 999;
}
#collapsed-state .content-metrics {
    width: 53%;
    height: 63%;
    position: relative;
    margin: 0 auto;
    top: 80px;
    overflow: hidden;
}
#collapsed-state .content-metrics .metric {
    background-color: #0D553F;
    height: 37px;
    width: 0px;
    position: absolute;
    bottom: 0;
    font-family: DINE;
    font-size: 24px;
    font-weight: normal;
}
#collapsed-state .content-metrics .metric-1 {
    left: 0;
    top: 37px;
}
#collapsed-state .content-metrics .metric-2 {
    left: 0;
    top: 77px;
}
#collapsed-state .content-metrics .metric-3 {
    left: 0;
    top: 118px;
}

/*.feature-expanded .content-metrics {
    width: 40%;
    height: 63%;
    position: relative;
    margin: 0 auto;
    top: 80px;
    overflow: hidden;
}
.feature-expanded .content-metrics .metric {
    background-color: #0D553F;
    height: 0;
    width: 72px;
    position: absolute;
    bottom: 0;
    font-family: DINE;
    font-size: 24px;
    font-weight: normal;
}*/
.feature-expanded .content-metrics .metric .numbre-changes {
    text-align: center;
    color: #fff;
    width: 50px;
    height: 37px;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
} 
/*.feature-expanded .content-metrics .metric-1 {
    left: 0
}
.feature-expanded .content-metrics .metric-2 {
    left: 0;
    right: 0;
    margin: 0 auto;
}
.feature-expanded .content-metrics .metric-3 {
    right: 0
}*/
#feature-expanded .content-objects {
    overflow: hidden;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}
#feature-expanded .content-objects .object-1 {
    width: 106px;
    height: 42px;
    overflow: hidden;
    position: absolute;
    top: 65px;
    left: 99px;
    background: url("sprite-all-objects.png") no-repeat #939598;
    background-position: -6px -53px;
    background-size: 251%;
    opacity: 1;
}
#feature-expanded .content-objects .object-2 {
    width: 129px;
    height: 51px;
    overflow: hidden;
    position: absolute;
    top: 112px;
    left: 0;
    background: url("sprite-all-objects.png") no-repeat;
    background-position: -12px -138px;
}
#feature-expanded .content-objects .object-3 {
    width: 129px;
    height: 51px;
    overflow: hidden;
    position: absolute;
    top: 157px;
    left: 0;
    background: url("sprite-all-objects.png") no-repeat;
    background-position: -6px -144px;
    background-size: 168%;
}
#feature-expanded .content-objects .object-4 {
    width: 129px;
    height: 51px;
    overflow: hidden;
    position: absolute;
    top: 197px;
    left: 0;
    background: url("sprite-all-objects.png") no-repeat;
    background-position: 1px -206px;
    background-size: 170%;
}
#feature-expanded .content-metrics {
    width: 72%;
    height: 63%;
    position: relative;
    margin: 0 auto;
    top: 80px;
    overflow: hidden;
}
#feature-expanded .content-metrics .metric {
    background-color: #0D553F;
    height: 37px;
    width: 160px;
    position: absolute;
    bottom: 0;
    font-family: DINE;
    font-size: 24px;
    font-weight: normal;
}
#feature-expanded .content-metrics .metric-1 {
    left: 0;
    top: 37px;
}
#feature-expanded .content-metrics .metric-2 {
    left: 0;
    top: 77px;
}
#feature-expanded .content-metrics .metric-3 {
    left: 0;
    top: 118px;
}
#feature-expanded #bgFixed {
    top: -12px;
    left: 0px;
    width: 499px;
}

.bottom-text {
    text-align: right;
    margin-top: 56px;
    margin-right: 10px;
    width: 29%;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.37);
    font-family: avenir;
    float: right;
}

.btn_click-img {
 position: absolute;
    bottom: -1px;
    right: 50px;
    background: url("sprite-all-objects.png") no-repeat;
    background-position: -37px -577px;
    height: 173px;
    width: 159px;
    transition: all 0.5s;
    z-index: 999;
}
.btn_click-img.rollOver {
    transform: scale(1.1);
    transition: all 0.5s;
}
/*GUIDES POSITION*/
.guide1 {
    position: absolute;
    top: 0px;
    left: 330px;
    border: solid 1px #000;
}
.guide2 {
    position: absolute;
    left: 0px;
    top: 415px;
    border: solid 1px #000;
}
/*GUIDES POSITION*/


#clickTagGeneral {
    width: 728px;
    min-height: 90px;
    float: left;
}