/*
  _                                       _             _         _                   
 | |__   __ _ _ __  _ __   ___ _ __   ___| |_ __ _ _ __| |_ ___  | |__   ___ _ __ ___ 
 | '_ \ / _` | '_ \| '_ \ / _ \ '__| / __| __/ _` | '__| __/ __| | '_ \ / _ \ '__/ _ \
 | |_) | (_| | | | | | | |  __/ |    \__ \ || (_| | |  | |_\__ \ | | | |  __/ | |  __/
 |_.__/ \__,_|_| |_|_| |_|\___|_|    |___/\__\__,_|_|   \__|___/ |_| |_|\___|_|  \___|
                                                                                      
*/
@import "ClaSSanimation";
/*
                 `-+s-  `+o/-                           
                /MMMMdhmMMMm                           
            ./::dMMMMMMMMMMM+--.                       
           `mMMMMMNs/:-:omMMMMMN.                      
           .hMMMMh`       oMMMMh:                      
             sMMM.         NMMh                        
           -hMMMMo        +MMMMh:                      
           .NMMMMMd+-``-+dMMMMMM:     `ysso/           
            .///dMMMMMMMMMMm:-+hhy/``-mMMMMN`          
            ``. /MMMMmdNMMMh -MMMMMMMMMMMMMMdo/shd-    
          sMMMM+`/sy:  .ys+-  hMMMMMMMMMMMMMMMMMMMMo   
    /y+-.+MMMMMNs+odNy-   `.-oMMMMMNy+:--/odMMMMMMN+   
  .hMMMMMMMMMMMMMMMMMMN. .MMMMMMMMo         -mMMMM+    
  `dMMMMMNho//+ymMMMMMo  /MMMMMMMo           .NMMMd+-  
   -MMMMy`       :mMMMN+:/+smMMMM:            mMMMMMMd 
.+yNMMMd          .MMMMMMM- -MMMMd`          +MMMMMMMo 
:MMMMMMh           NMMMMMN+`oMMMMMm+.     `:hMMMMmyo+` 
`hmMMMMM+         +MMMMh:  sMMMMMMMMMNdhhmMMMMMMd`     
   `yMMMMd+.   ./hMMMMN-    sMMdyyNMMMMMMMMMMMMMN.     
    hMMMMMMMMMMMMMMMMMMN.    .    `NMMMMMhssmMMms.     
   .yMMMNdmNMMMMMhoohNy.           yNMMM+    .-        
     .o:   :MMMMd                     `.               
            +so+.                                      

                          
 ######   #######  ##    ## ######## ####  ######   
##    ## ##     ## ###   ## ##        ##  ##    ##  
##       ##     ## ####  ## ##        ##  ##        
##       ##     ## ## ## ## ######    ##  ##   #### 
##       ##     ## ##  #### ##        ##  ##    ##  
##    ## ##     ## ##   ### ##        ##  ##    ##  
 ######   #######  ##    ## ##       ####  ######   

Add custom Sass variables and mixins here

*/
$image-path: '../images/';
/*
                                        
                           .:::-`       
                       `+hMMMMMMMm+     
                      /NMMMMmho/.  `    
                     +MMMMMM` `+sdNNy-  
                    `MMMMMMd  oMMMMMMMd 
                    :MMMMMM+  mMMMMMMMd 
                    /MMMMMM-  +mMMMMMM+ 
                 .omMMMMMMMMy:  :ys+-` `
              .+dMMMMMMMMMMMMMm+` ./ohmo
           `+hMMMMMMMMMMMMMMMMMMNNMMMMo 
        `/hMMMMMMMMMMMMh/+dMMMMMMMMmo.  
      :yNMMMMMMMMMMMd+`    `-/++/:`     
   :sNMMMMMMMMMMMmo.                    
-sNMMMMMMMMMMMmo.                       
/NMMMMMMMMMNs-                          
 .hMMMMMNy:                             
   oMNy/                                
    .`                                  
                                        

 ######  ######## ######## ##     ## ########  
##    ## ##          ##    ##     ## ##     ## 
##       ##          ##    ##     ## ##     ## 
 ######  ######      ##    ##     ## ########  
      ## ##          ##    ##     ## ##        
##    ## ##          ##    ##     ## ##        
 ######  ########    ##     #######  ##        

Set initial configuration here
@include setBanner(300,250);

*/
@include setBanner(300,250, #000000);
.banner {
  @include setBackgroundImage($image-path + 'bg.jpg');
}
/*                                                          
     :hdo                                                             
     yMMm`  .`                                                        
      `.  `mMMs                                                       
           odh:  ``                                                   
               `dMMo                                                  
                smd/                                                  
                    -ss:                                              
                    hMMN`                             .:/+/-`         
                     ::`                           `omMMMMMMMh/       
                       .hmh.                      :NMMMdysyNMMMh`     
                       :NMN-                     `NMMN-     sMMMs     
                         `                       :MMMh      .MMMd     
                          odd/               ``  `mMMMo`   -dMMM+     
                         `dMMy              +MMm. .hMMMMNmNMMMN+      
                           ``         +mNh` -hms`   -smMMMMNh+`       
                           .sy+  .:-  +NNh`             `.`           
                           sMMN.:MMM+                                 
                            :o- `+yo`                                 
                           :MMM/                                      
                           `shs.                                                                                                                                                                                                                       

   ###    ##    ## #### ##     ##    ###    ######## ####  #######  ##    ##  ######  
  ## ##   ###   ##  ##  ###   ###   ## ##      ##     ##  ##     ## ###   ## ##    ## 
 ##   ##  ####  ##  ##  #### ####  ##   ##     ##     ##  ##     ## ####  ## ##       
##     ## ## ## ##  ##  ## ### ## ##     ##    ##     ##  ##     ## ## ## ##  ######  
######### ##  ####  ##  ##     ## #########    ##     ##  ##     ## ##  ####       ## 
##     ## ##   ###  ##  ##     ## ##     ##    ##     ##  ##     ## ##   ### ##    ## 
##     ## ##    ## #### ##     ## ##     ##    ##    ####  #######  ##    ##  ######  

CSS animations

*/

/* 

MMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMs------------------------sMM
MM+                        +MM
MM+                        +MM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMs------mMh---------------sMM
MM+      dMy               +MM
MM+      dMy               +MM
MM+      dMy...............oMM
MM+      dMMMMMMMMMMMMMMMMMMMM
MM+      dMy```````````````oMM
MM+      dMy               +MM
MM+      dMy               +MM
MMs------mMh---------------sMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMM

##          ###    ##    ##  #######  ##     ## ######## 
##         ## ##    ##  ##  ##     ## ##     ##    ##    
##        ##   ##    ####   ##     ## ##     ##    ##    
##       ##     ##    ##    ##     ## ##     ##    ##    
##       #########    ##    ##     ## ##     ##    ##    
##       ##     ##    ##    ##     ## ##     ##    ##    
######## ##     ##    ##     #######   #######     ##    

Set initial sizes and positions of elements

*/
.stadium {
  @include setPosition(0,0);
  @include setSize(300,250);
  @include setBox(#000000, transparent, 0);
  @include animateVideoSprite($image-path + 'stadium.jpg', 300, 24, 1);
}
.boxers1 {
  @include setPosition(0,0);
  @include setSize(300,250);
  @include setBox(#000000, transparent, 0);
  @include animateVideoSprite($image-path + 'boxers1.jpg', 300, 12, 1, 1, normal, 0.06s);
}
.boxers2 {
  @include setPosition(0,0);
  @include setSize(300,250);
  @include setBox(#000000, transparent, 0);
  @include animateVideoSprite($image-path + 'boxers2.jpg', 300, 12, 1, 3, normal, 0.07s);
}
.shadow {
  @include setPosition(0,150);
  @include setSize(300,250);
  @include setBackground($image-path + "shadow.png");
  opacity: 0;
  @include blend(darken);
}
.boxers-bg1{
  @include setPosition(0,120);
  @include setSize(300,250,0,0);
  @include setBackground($image-path + "boxers-bg.png");
  @include setBackgroundSize(600,250);
  @include setOrigin(50,50);
  @include presetTransform('left', 1);
  @include blend(overlay);
}
.boxers-bg2{
  @include setPosition(0,120);
  @include setSize(300,250,300,0);
  @include setBackground($image-path + "boxers-bg.png");
  @include setBackgroundSize(600,250);
  @include setOrigin(50,50);
  @include presetTransform('right', 1);
  @include blend(overlay);
}
.boxers-names{
  @include setPosition(0,175);
  @include setSize(300,64,0,0);
  @include setBackground($image-path + "text.png");
  @include setBackgroundSize(300,372);
  @include setOrigin(50,50);
  @include setTransform(0, 50, 1, 0, 0);
}
.ward{
  @include setPosition(83,0);
  @include setSize(217,249,0,0);
  @include setBackground($image-path + "ward.png");
  @include setBackgroundSize(217,249);
  @include setOrigin(50,50);
  @include presetTransform('right', 1);
}
.kovalev{
  @include setPosition(0,0);
  @include setSize(187,246,0,0);
  @include setBackground($image-path + "kovalev.png");
  @include setBackgroundSize(187,246);
  @include setOrigin(50,50);
  @include presetTransform('left', 1);
}
.pound{
  @include setPosition(0,178);
  @include setSize(300,58,0,64);
  @include setBackground($image-path + "text.png");
  @include setBackgroundSize(300,372);
  @include setOrigin(50,50);
  @include presetTransform('down', 1);
}
.star{
  @include setSize(18,17,142,350);
  @include setBackground($image-path + "text.png");
  @include setBackgroundSize(300,372);
  @include setOrigin(50,50);
}
.star1 {
  @include setPosition(3,116);
}
.star2 {
  @include setPosition(280,116);
}
.cta{
  @include setPosition(0,26);
  @include setSize(300,0,0,122);
  @include setBackground($image-path + "text.png");
  @include setBackgroundSize(300,372);
  @include setOrigin(50,50);
  @include setTransform(0,-50,1,0,0);
}
/*

    MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
    MM    MM    MM    MM    MM    MM
    MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
    MM                            MM
    MM        my/.                MM
    MM        MMMMmy/.            MM
    MM        MMMMMMMMmy/.        MM
    MM        MMMMMMMMmy/.        MM
    MM        MMMMmy/.            MM
    MM        my/.                MM
    MM                            MM
    MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
    MM    MM    MM    MM    MM    MM
    MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM 


 ######   ######  ######## ##    ## ########  ######  
##    ## ##    ## ##       ###   ## ##       ##    ## 
##       ##       ##       ####  ## ##       ##       
 ######  ##       ######   ## ## ## ######    ######  
      ## ##       ##       ##  #### ##             ## 
##    ## ##    ## ##       ##   ### ##       ##    ## 
 ######   ######  ######## ##    ## ########  ######  

Do scene transitions here

*/
/*
  888  888    d888   
  888  888   d8888   
888888888888   888   
  888  888     888   
  888  888     888   
888888888888   888   
  888  888     888   
  888  888   8888888 
*/
.scene1 {
  .stadium {
    @include playAnimation();
  }
}
/*
  888  888    .d8888b.  
  888  888   d88P  Y88b 
888888888888        888 
  888  888        .d88P 
  888  888    .od888P"  
888888888888 d88P"      
  888  888   888"       
  888  888   888888888  
*/
.scene2 {
  .shadow {
    @include fade(0.7, $slow);
  }
  .boxers-names {
    @include reset(1, $normal, $sine);
  }
  .boxers-bg1, .boxers-bg2 {
    @include reset(1, $fast, $sine);
  }
}
/*
  888  888    .d8888b.  
  888  888   d88P  Y88b 
888888888888      .d88P 
  888  888       8888"  
  888  888        "Y8b. 
888888888888 888    888 
  888  888   Y88b  d88P 
  888  888    "Y8888P"  
*/
.scene3 {
  .shadow {
    @include fade(0.3, $slow);
  }
  .stadium {
    @include hide;
  }
  .boxers-bg1 {
    @include setTransform(10, 25, 1, 0, 1);
    @include transition($quick, $sine);
  }
  .boxers-bg2 {
    @include xTo(300, $quick, $sine);
  }
  .boxers-names{
    @include xTo(135, $quick, $sine);
  }
  .boxers1 {
    @include playAnimation();
  }
}
/*
  888  888       d8888  
  888  888      d8P888  
888888888888   d8P 888  
  888  888    d8P  888  
  888  888   d88   888  
888888888888 8888888888 
  888  888         888  
  888  888         888  
*/
.scene4 {
  .boxers-bg1 {
    @include xTo(-300,$quick);
  }
  .boxers-bg2 {
    @include setTransform(0, 35, 1, 0, 1);
    @include transition($quick, $sine);
  }
  .boxers1 {
    @include fade(0,$beat, $beat);
  }
  .boxers-names{
    @include xTo(-179, $quick, $sine);
  }
  .boxers2 {
    @include playAnimation();
  }
}
/*
  888  888   888888888  
  888  888   888        
888888888888 888        
  888  888   8888888b.  
  888  888        "Y88b 
888888888888        888 
  888  888   Y88b  d88P 
  888  888    "Y8888P"  
*/
.scene5 {
  .boxers2 {
    @include fade(0, $quick);
  }
  .boxers-names{
    @include setTransform(-179, 200, 1, 0, 0);
    @include transition($quick, $sine);
  }
  .boxers-bg1, .boxers-bg2 {
    @include setTransform(0,-20,1,0,1);
    @include transition($quick, $sine);
  }
  .ward, .kovalev, .pound {
    @include reset(1, $normal, $sine);
  }
  .shadow {
    @include yTo(-45, $quick, $sine, 1);
  }
}
/*
  888  888    .d8888b.  
  888  888   d88P  Y88b 
888888888888 888        
  888  888   888d888b.  
  888  888   888P "Y88b 
888888888888 888    888 
  888  888   Y88b  d88P 
  888  888    "Y8888P"  
*/
.scene6-reset {
  .boxers-names{
    @include hide;
    @include setTransform(0,-42);
  }
}
.scene6 {
  .pound {
    @include heightTo(0, $quick, $sine);
    @include yTo(-30, $quick, $sine, 0s, 0);
  }
  .kovalev {
    @include setTransform(10,-10,1.1,0,1);
    @include transition($quick, $sine);
  }
  .ward {
    @include setTransform(-10,-10,1.1,0,1);
    @include transition($quick, $sine);
  }
  .boxers-bg1, .boxers-bg2 {
    @include setTransform(0,-87,1,0,1);
    @include transition($quick, $sine);
  }
  .boxers-names{
    @include show;
    @include yTo(-92, $quick, $sine, 0s, 1);
  }
  .shadow {
    @include yTo(-135, $quick, $sine);
  }
  .cta {
    @include heightTo(224, $normal, $sine, $normal);
    @include reset(1, $fast, $sine);
  }
}
/*
  888  888   8888888888 
  888  888         d88P 
888888888888      d88P  
  888  888       d88P   
  888  888    88888888  
888888888888   d88P     
  888  888    d88P      
  888  888   d88P       
*/
/*
  888  888    .d8888b.  
  888  888   d88P  Y88b 
888888888888 Y88b. d88P 
  888  888    "Y88888"  
  888  888   .d8P""Y8b. 
888888888888 888    888 
  888  888   Y88b  d88P 
  888  888    "Y8888P"  
*/
/*
  888  888    .d8888b.  
  888  888   d88P  Y88b 
888888888888 888    888 
  888  888   Y88b. d888 
  888  888    "Y888P888 
888888888888        888 
  888  888   Y88b  d88P 
  888  888    "Y8888P"  
*/