html, body, div, span, applet, object, iframe,  h1, h2, h3, h4, h5, h6, p, blockquote, pre,  a, abbr, acronym, address, big, cite, code,  del, dfn, em, img, ins, kbd, q, s, samp,  small, strike, strong, sub, sup, tt, var,  b, u, i, center,  dl, dt, dd, ol, ul, li,  fieldset, form, label, legend,  table, caption, tbody, tfoot, thead, tr, th, td,  article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary,  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,  footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,  q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    background: transparent;
    height: 100%;
}
#ad-300x250 {
    background: #fff;
    width: 298px;
    height: 248px;
    border: 1px #000 solid;
    position: absolute;
    cursor: pointer;
    top: 0px;
    left: 0;
    overflow: hidden;
}
.wrapFrames {
    background: url("img/bg-silverBlue.jpg") no-repeat center;
    width: 100%;
    height: 100%;
    position: relative;
}
#canon {
    width: 145px;
    height: 110px;
    position: absolute;
    left: -180px;
    bottom: 10px;
}
#canon  .shadow {
    background: url("img/shadowCanon.png") no-repeat center;
    width: 59px;
    height: 5px;
    position: absolute;
    top: 106px;
    left: 10px;
}
#canon  .fuse {
    background: url("img/dottesFuse.png") no-repeat center;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 25px;
    left: 16px;
}
#canon  .fire {
    background: url("img/fire.png") no-repeat center;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 18px;
    left: 13px;
    opacity: 0;
}
#canon  .structure {
    background: url("img/canon.png") no-repeat center;
    width: 110px;
    height: 115px;
    position: absolute;
}
#canon .wheel {
    background: url("img/wheel.png") no-repeat center;
    width: 47px;
    height: 45px;
    position: absolute;
    top: 64px;
    left: 17px;
}
#canon .smoke {
    background: url("img/smoke.png") no-repeat center;
    width: 48px;
    height: 46px;
    position: absolute;
    right: 6px;
    top: -11px;
}
.cloudWhite {
    background: url("img/cloud-white.png") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    right: -300px;
}
.cloudWhite:after {
    content: "";
    background-color: #fff;
    width: 250px;
    height: 250px;
    display: block;
    position: absolute;
    right: -120px;
}
.contentText {
    position: relative;
    width: 100%;
    height: 100%;
}
.contentText > span {
    position: absolute;
    background: url("img/copys.png") no-repeat center;
}
.contentText .copy_1 {
    top: 23px;
    right: 57px;
    right: -200px;
    width: 130px;
    height: 20px;
    background-position: -13px -3px;
}
.contentText .copy_2 {
    top: 46px;
    right: 46px;
    right: -200px;
    width: 152px;
    height: 45px;
    background-position: -2px -26px;
}
.contentText .copy_3 {
    top: 92px;
    right: 11px;
    right: -200px;
    width: 148px;
    height: 45px;
    background-position: -41px -71px;
}
.contentText .copy_4 {
    top: 146px;
    right: 13px;
    right: -200px;
    width: 167px;
    height: 53px;
    background-position: -20px -126px;
}
.contentSoldier {
    width: 100px;
    height: 180px;
    position: absolute;
    bottom: -190px;
    left: 12px;
    transform-origin: bottom;
}
.contentSoldier .body {
    background: url("img/soldier.png") no-repeat center;
    background-size: contain;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.contentSoldier .arm {
    background: url("img/arm-soldier-left-bottom.png") no-repeat center;
    background-size: contain;
    position: absolute;
    bottom: 94px;
    left: 8px;
    width: 32px;
    height: 72px;
    transform-origin: bottom;
    /*transform: rotateX(-3deg) translateZ(5em)*/;
    transform: rotateX(169deg) translateZ(5em);
}
.btnSaveNow {
    width: 97px;
    height: 26px;
    text-indent: -9999px;
    position: absolute;
    bottom: 16px;
    right: 100px;
    opacity: 0;
    background: url("img/btnSaveNow.png") no-repeat center;

}


#clickTagGeneral {
    width: 300px;
    height: 250px;
    float: left;
}